
<%= content_for :js_libs, "demo-sparklines demo-chartjs chartjs" %>

<div class="row equal-cols">
  <div class="col-12 col-md-6">
    <div class="card card-full-height card-tabbed overflow-visible">
      <div class="card-header">
        <h6>TASKS</h6>
        <ul class="nav nav-tabs nav-tabs-primary card-header-tabs" id="navTab1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#navTab11" role="tab" aria-controls="navTab11" aria-expanded="true">Open</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#navTab12" role="tab" aria-controls="navTab12" aria-expanded="false">Completed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#navTab13" role="tab" aria-controls="navTab13" aria-expanded="false">Archived</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="taskListContent">
          <div class="tab-pane fade active show" id="navTab11" role="tabpanel" aria-labelledby="navTab11" aria-expanded="true">
            <ol class="card-item-list">
              <li class="card-item card-item-chip-primary">
                <div class="checkbox">
                  <input id="checkbox1" type="checkbox">
                  <label for="checkbox1"></label>
                </div>
                <div class="card-item-body card-item-chip-primary mr-auto">
                  <div class="leading-normal">Buy 200 units of Ethereum</div>
                  <small><time class="text-uppercase text-muted">Due by 07:00 26th Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-dark">
                <div class="checkbox">
                  <input id="checkbox2" type="checkbox">
                  <label for="checkbox2"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Take the Ghoul friend for a Halloween zip line</div>
                  <small><time class="text-uppercase text-muted">Due by 12:21 20th Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-danger">
                <div class="checkbox">
                  <input id="checkbox3" type="checkbox">
                  <label for="checkbox3"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Rebuild laptop to remove Russian spyware</div>
                  <small><time class="text-uppercase text-muted">Due by 09:00 19th Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-warning">
                <div class="checkbox">
                  <input id="checkbox4" type="checkbox">
                  <label for="checkbox4"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Cash out Yowli coins before expiry</div>
                  <small><time class="text-uppercase text-muted">Due by 00:00 1st Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
            </ol>
          </div>
          <div class="tab-pane fade" id="navTab12" role="tabpanel" aria-labelledby="navTab12" aria-expanded="false">
            <ol class="card-item-list">
              <li class="card-item card-item-chip-primary">
                <div class="checkbox">
                  <input id="checkbox5" type="checkbox" checked>
                  <label for="checkbox5"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Cancel landline</div>
                  <small><time class="text-uppercase text-muted">Due by 07:00 26th Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-warning">
                <div class="checkbox">
                  <input id="checkbox6" type="checkbox" checked>
                  <label for="checkbox6"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Order satellite phone</div>
                  <small><time class="text-uppercase text-muted">Due by 12:21 20th Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-inverse">
                <div class="checkbox">
                  <input id="checkbox7" type="checkbox" checked>
                  <label for="checkbox7"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Magnetize compass</div>
                  <small><time class="text-uppercase text-muted">Due by 09:00 19th Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-primary">
                <div class="checkbox">
                  <input id="checkbox8" type="checkbox" checked>
                  <label for="checkbox8"></label>
                </div>
                <div class="card-item-bodym mr-auto">
                  <div class="leading-normal">Cash out Yowli coins before expiry</div>
                  <small><time class="text-uppercase text-muted">Due by 00:00 1st Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-primary">
                <div class="checkbox">
                  <input id="checkbox9" type="checkbox" checked>
                  <label for="checkbox9"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Cash out Yowli coins before expiry</div>
                  <small><time class="text-uppercase text-muted">Due by 00:00 1st Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
            </ol>
          </div>


          <div class="tab-pane fade" id="navTab13" role="tabpanel" aria-labelledby="navTab13" aria-expanded="false">
            <ol class="card-item-list">
              <li class="card-item card-item-chip-light">
                <div class="checkbox">
                  <input id="checkbox5" type="checkbox" checked="">
                  <label for="checkbox5"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Cancel landline 2</div>
                  <small><time class="text-uppercase text-muted">Due by 07:00 26th Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-light">
                <div class="checkbox">
                  <input id="checkbox6" type="checkbox" checked="">
                  <label for="checkbox6"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Order satellite phone</div>
                  <small><time class="text-uppercase text-muted">Due by 12:21 20th Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-light">
                <div class="checkbox">
                  <input id="checkbox7" type="checkbox" checked="">
                  <label for="checkbox7"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Magnetize compass</div>
                  <small><time class="text-uppercase text-muted">Due by 09:00 19th Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-light">
                <div class="checkbox">
                  <input id="checkbox8" type="checkbox" checked="">
                  <label for="checkbox8"></label>
                </div>
                <div class="card-item-bodym mr-auto">
                  <div class="leading-normal">Cash out Yowli coins before expiry</div>
                  <small><time class="text-uppercase text-muted">Due by 00:00 1st Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
              <li class="card-item card-item-chip-light">
                <div class="checkbox">
                  <input id="checkbox9" type="checkbox" checked="">
                  <label for="checkbox9"></label>
                </div>
                <div class="card-item-body mr-auto">
                  <div class="leading-normal">Cash out Yowli coins before expiry</div>
                  <small><time class="text-uppercase text-muted">Due by 00:00 1st Dec 2018</time></small>
                </div>
                <div class="dropdown display-on-hover">
                  <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-more"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
                    <a class="dropdown-item" href="#">Complete</a>
                    <a class="dropdown-item" href="#">Archive</a>
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /col-12.col-md-6 -->

  <div class="col-12 col-md-6">
    <div class="card card-full-height card-tabbed overflow-visible">
      <div class="card-header">
        <h6>KPI SUMMARY</h6>
        <div class="dropdown">
          <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti-more"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 38px; left: -148px; will-change: top, left;">
            <a class="dropdown-item" href="#">Refresh</a>
            <a class="dropdown-item" href="#">Share</a>
            <a class="dropdown-item" href="#">Remove</a>
          </div>
        </div>

      </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex">
            <div class="mr-auto d-flex align-items-center">
              <i class="ti-user m-0 mr-4 h4 text-muted"></i> Page Visits
            </div>
            <span class="spark-bar-1" sparkBarHeight="40" sparkBarColor="green">12,23,19,18,12,2,33,12</span>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-auto d-flex align-items-center">
              <i class="ti-power-off m-0 mr-4 h4 text-muted"></i> Logins
            </div>
            <span class="spark-bar-1" sparkBarHeight="40" sparkBarColor="red">100,23,231,18,12,2,33,12</span>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-auto d-flex align-items-center">
              <i class="ti-heart m-0 mr-4 h4 text-muted"></i> Subscribes
            </div>
            <span class="spark-bar-1" sparkBarHeight="40" sparkBarColor="lightblue">1,3,9,8,2,2,3,1</span>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-auto d-flex align-items-center">
              <i class="ti-thumb-up m-0 mr-4 h4 text-muted"></i> Likes
            </div>
            <span class="spark-bar-1" sparkBarHeight="40" sparkBarColor="gray">45,34,44,23,56,67,54,34</span>
          </li>
          <li class="list-group-item d-flex">
            <div class="mr-auto d-flex align-items-center">
              <i class="ti-truck m-0 mr-4 h4 text-muted"></i> Sales
            </div>
            <span class="spark-bar-1" sparkBarHeight="40" sparkBarColor="orange">12,23,19,18,12,2,33,12</span>
          </li>
        </ul>
    </div>
  </div>
</div>

<div class="row equal-cols">
  <div class="col-12 col-md-6">
    <div class="card card-chat" style="height: 542px">
      <div class="card-header">
        <h6>CHAT</h6>
      </div>
      <div class="card-body" style="height: 423px">
        <ol>
          <li>
            <div class="media small">
              <div class="chat-user-avatar">
                <img class="d-flex" src="//fillmurray.com/42/42" alt="Generic placeholder image">
                <small><time>09:34am</time></small>
              </div>
              <div class="media-body">
                <div class="d-flex"><strong class="chat-username">John McDowall</strong></div>
                What time does the server upgrade kickoff?
              </div>
            </div>
          </li>
          <li>
            <div class="media small">
              <div class="chat-user-avatar">
                <img class="d-flex" src="//fillmurray.com/42/42" alt="Generic placeholder image">
                <small><time>09:35am</time></small>
              </div>
              <div class="media-body">
                <div class="d-flex"><strong class="chat-username">Hiro Protagonist</strong></div>
                In about 10 minutes.
              </div>
            </div>
          </li>
          <li>
            <div class="media small">
              <div class="chat-user-avatar">
                <img class="d-flex" src="//fillmurray.com/42/42" alt="Generic placeholder image">
                <small><time>09:35am</time></small>
              </div>
              <div class="media-body">
                <div class="d-flex"><strong class="chat-username">John McDowall</strong></div>
                Ok, great.
              </div>
            </div>
          </li>
          <li>
            <div class="media small">
              <div class="chat-user-avatar">
                <img class="d-flex" src="//fillmurray.com/42/42" alt="Generic placeholder image">
                <small><time>09:44am</time></small>
              </div>
              <div class="media-body">
                <div class="d-flex"><strong class="chat-username">Hiro Protagonist</strong></div>
                You ready? Holding onto your butt?
              </div>
            </div>
          </li>
          <li>
            <div class="media small">
              <div class="chat-user-avatar">
                <img class="d-flex" src="//fillmurray.com/42/42" alt="Generic placeholder image">
                <small><time>09:34am</time></small>
              </div>
              <div class="media-body">
                <div class="d-flex"><strong class="chat-username">John McDowall</strong></div>
                What time does the server upgrade kickoff?
              </div>
            </div>
          </li>
          <li>
            <div class="media small">
              <div class="chat-user-avatar">
                <img class="d-flex" src="//fillmurray.com/42/42" alt="Generic placeholder image">
                <small><time>09:34am</time></small>
              </div>
              <div class="media-body">
                <div class="d-flex"><strong class="chat-username">John McDowall</strong></div>
                What time does the server upgrade kickoff?
              </div>
            </div>
          </li>
          <li>
            <div class="media small">
              <div class="chat-user-avatar">
                <img class="d-flex" src="//fillmurray.com/42/42" alt="Generic placeholder image">
                <small><time>09:34am</time></small>
              </div>
              <div class="media-body">
                <div class="d-flex"><strong class="chat-username">John McDowall</strong></div>
                What time does the server upgrade kickoff?
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div class="card-footer">
        <input type="text" class="form-control mr-3" placeholder="Enter your message" />
        <button class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card card-full-height card-activity-feed">
      <div class="card-header">
        <h6>ACTIVITY FEED</h6>
      </div>
      <div class="card-body overflow-y-scroll" style="height: 485px">
        <ol>
          <li class="card-activity-feed-label">
            <time class="small">Today</time>
          </li>
          <li class="card-activity-feed-item">
            <div class="card-activity-feed-item-icon">
              <i class="ti-folder bg-blue"></i>
            </div>
            <div class="card-activity-feed-item-body">
              <h6 class="d-flex">Fill archived a project <time class="ml-auto small"><i class="ti-time"></i> 11:48</time></h6>

              <p class="small">The project <strong>Boring Corporate Project</strong> was archived. It can be viewed <a href="#">here</a>.</p>
            </div>
          </li>
          <li class="card-activity-feed-item">
            <div class="card-activity-feed-item-icon">
              <i class="ti-cloud-up bg-blue"></i>
            </div>
            <div class="card-activity-feed-item-body">
              <h6 class="d-flex">Zomoko uploaded a file <time class="ml-auto small"><i class="ti-time"></i> 11:48</time></h6>

              <p class="small">She uploaded the file `catface.jpg` and left 1 comment on it.</p>
              <img src="//placekitten.com/42/42" class="img-thumbnail">
              <div class="card-activity-feed-item-footer text-right">
                <a href="#" class="btn btn-primary btn-sm">Read the comment</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
              </div>
            </div>
          </li>
          <li class="card-activity-feed-label">
            <time class="small">Yesterday</time>
          </li>
          <li class="card-activity-feed-item">
            <div class="card-activity-feed-item-icon">
              <i class="ti-folder bg-blue"></i>
            </div>
            <div class="card-activity-feed-item-body">
              <h6 class="d-flex">Fill archived a project <time class="ml-auto small"><i class="ti-time"></i> 11:48</time></h6>

              <p class="small">The project <strong>Boring Corporate Project</strong> was archived. It can be viewed <a href="#">here</a>.</p>
            </div>
          </li>
          <li class="card-activity-feed-item">
            <div class="card-activity-feed-item-icon">
              <i class="ti-user bg-blue"></i>
            </div>
            <div class="card-activity-feed-item-body">
              <h6 class="d-flex">Fill archived a project <time class="ml-auto small"><i class="ti-time"></i> 11:48</time></h6>

              <p class="small">The project <strong>Boring Corporate Project</strong> was archived. It can be viewed <a href="#">here</a>.</p>
            </div>
          </li>
          <li class="card-activity-feed-label card-activity-feed-label-end">
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row equal-cols">
  <div class="col-12 col-md-6">
    <div class="card card-tabbed">
      <div class="card-header">
        <h6>FORUM COMMENTS</h6>
        <div class="dropdown">
          <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti-more"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 26px; left: -148px; will-change: top, left;">
            <a class="dropdown-item" href="#">Refresh</a>
            <a class="dropdown-item" href="#">Share</a>
            <a class="dropdown-item" href="#">Remove</a>
          </div>
        </div>
      </div>
      <div class="overflow-y-scroll" style="height: 485px">
        <ul class="list-group list-group-flush" >
          <li class="list-group-item d-flex flex-column">
            <div class="media small">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <h5 class="m-0 mr-auto">Proposed changes to Rails 5</h5>
                  <div class="badge badge-gray-300">PENDING</div>
                </div>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>
            <div class="actions ml-auto mt-3 mb-3">
              <a href="#" class="btn btn-success btn-sm">Approve</a>
              <a href="#" class="btn btn-danger btn-sm">Deny</a>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <h5 class="m-0 mr-auto">Proposed changes to Rails 5</h5>
                  <div class="badge badge-warning">CONTROVERSIAL</div>
                </div>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>
            <div class="actions ml-auto mt-3 mb-3">
              <a href="#" class="btn btn-success btn-sm">Approve</a>
              <a href="#" class="btn btn-danger btn-sm">Deny</a>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <h5 class="m-0 mr-auto">Proposed changes to Rails 5</h5>
                  <div class="badge badge-gray-300">PENDING</div>
                </div>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>
            <div class="actions ml-auto mt-3 mb-3">
              <a href="#" class="btn btn-success btn-sm">Approve</a>
              <a href="#" class="btn btn-danger btn-sm">Deny</a>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <h5 class="m-0 mr-auto">Proposed changes to Rails 5</h5>
                  <div class="badge badge-gray-300">PENDING</div>
                </div>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>
            <div class="actions ml-auto mt-3 mb-3">
              <a href="#" class="btn btn-success btn-sm">Approve</a>
              <a href="#" class="btn btn-danger btn-sm">Deny</a>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <h5 class="m-0 mr-auto">Proposed changes to Rails 5</h5>
                  <div class="badge badge-gray-300">PENDING</div>
                </div>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>
            <div class="actions ml-auto mt-3 mb-3">
              <a href="#" class="btn btn-success btn-sm">Approve</a>
              <a href="#" class="btn btn-danger btn-sm">Deny</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card card-tabbed">
      <div class="card-header">
        <h6>FOLLOWER REQUESTS</h6>
        <div class="dropdown">
          <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti-more"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 26px; left: -148px; will-change: top, left;">
            <a class="dropdown-item" href="#">Refresh</a>
            <a class="dropdown-item" href="#">Share</a>
            <a class="dropdown-item" href="#">Remove</a>
          </div>
        </div>
      </div>
      <div class="overflow-y-scroll" style="height: 485px">
        <ul class="list-group list-group-flush" >
          <li class="list-group-item d-flex flex-column">
            <div class="media small d-flex align-items-center">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <div class="follower-info d-flex flex-column align-item-center m-r-auto">
                    <h5 class="m-0">Phill Murray</h5>
                    <p class="m-0">Chief Technology Officer, Quanto Computo
                  </div>
                  <div class="actions ml-auto">
                    <a href="#" class="btn btn-outline-success btn-sm">Approve</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Deny</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small d-flex align-items-center">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <div class="follower-info d-flex flex-column align-item-center m-r-auto">
                    <h5 class="m-0">Phill Murray</h5>
                    <p class="m-0">Chief Technology Officer, Quanto Computo
                  </div>
                  <div class="actions ml-auto">
                    <a href="#" class="btn btn-outline-success btn-sm">Approve</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Deny</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small d-flex align-items-center">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <div class="follower-info d-flex flex-column align-item-center m-r-auto">
                    <h5 class="m-0">Phill Murray</h5>
                    <p class="m-0">Chief Technology Officer, Quanto Computo
                  </div>
                  <div class="actions ml-auto">
                    <a href="#" class="btn btn-outline-success btn-sm">Approve</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Deny</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small d-flex align-items-center">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <div class="follower-info d-flex flex-column align-item-center m-r-auto">
                    <h5 class="m-0">Phill Murray</h5>
                    <p class="m-0">Chief Technology Officer, Quanto Computo
                  </div>
                  <div class="actions ml-auto">
                    <a href="#" class="btn btn-outline-success btn-sm">Approve</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Deny</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small d-flex align-items-center">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <div class="follower-info d-flex flex-column align-item-center m-r-auto">
                    <h5 class="m-0">Phill Murray</h5>
                    <p class="m-0">Chief Technology Officer, Quanto Computo
                  </div>
                  <div class="actions ml-auto">
                    <a href="#" class="btn btn-outline-success btn-sm">Approve</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Deny</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small d-flex align-items-center">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <div class="follower-info d-flex flex-column align-item-center m-r-auto">
                    <h5 class="m-0">Phill Murray</h5>
                    <p class="m-0">Chief Technology Officer, Quanto Computo
                  </div>
                  <div class="actions ml-auto">
                    <a href="#" class="btn btn-outline-success btn-sm">Approve</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Deny</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small d-flex align-items-center">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <div class="follower-info d-flex flex-column align-item-center m-r-auto">
                    <h5 class="m-0">Phill Murray</h5>
                    <p class="m-0">Chief Technology Officer, Quanto Computo
                  </div>
                  <div class="actions ml-auto">
                    <a href="#" class="btn btn-outline-success btn-sm">Approve</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Deny</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex flex-column">
            <div class="media small d-flex align-items-center">
              <img class="d-flex mr-3 rounded-circle" src="//fillmurray.com/48/48" alt="Generic placeholder image">
              <div class="media-body">
                <div class="media-header d-flex align-items-center">
                  <div class="follower-info d-flex flex-column align-item-center m-r-auto">
                    <h5 class="m-0">Phill Murray</h5>
                    <p class="m-0">Chief Technology Officer, Quanto Computo
                  </div>
                  <div class="actions ml-auto">
                    <a href="#" class="btn btn-outline-success btn-sm">Approve</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Deny</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h6>Most Active Users</h6>
        <div class="ml-auto btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-default active">Week</button>
          <button type="button" class="btn btn-default">Month</button>
          <button type="button" class="btn btn-default">Quarter</button>
        </div>
      </div>
      <div class="table table-hover table-striped table-responsive">
        <table>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Email</th>
              <th>Name</th>
              <th>Installs</th>
              <th>Last Active</th>
              <th>Countries</th>
              <th>Activity</th>
            </tr>
          </thead>
          <% (1..10).each do |index| %>
          <tr>
            <td><%= index %></td>
            <td>johnny@appleseed.com</td>
            <td>Johnny Appleseed</td>
            <td><%=sprintf('%.2f', (rand * 1000).round).gsub('.00','').reverse.scan(/(\d*\.\d{1,3}|\d{1,3})/).join(',').reverse %></td>
            <td>Wed, 3rd Oct 2018</td>
            <td>Canada, USA</td>
            <td><span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 100px;"><%=(0..8).to_a.shuffle.join(', ') %></span></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card card-tabbed">
      <div class="card-header">
        <h6>BIG CHART</h6>
        <div class="dropdown">
          <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti-more"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton" x-placement="bottom-end" style="position: absolute; top: 26px; left: -148px; will-change: top, left;">
            <a class="dropdown-item" href="#">Refresh</a>
            <a class="dropdown-item" href="#">Share</a>
            <a class="dropdown-item" href="#">Remove</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row equal-cols">
            <div class="col-12 col-md-8 d-flex align-self-center">
              <canvas class="sales-vs-refunds"></canvas>
            </div>
            <div class="col-12 col-md-4">
              <div class="card card-mini inspectable">
                <!-- component-title: Mini Card -->
                <div class="card-body">
                  <div class="media">
                    <div class="d-flex align-self-center mr-3">
                      <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
                    </div>
                    <div class="media-body text-right">
                      <h6 class="m-0 pt-2 text-muted">Page Hits</h6>
                      <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-mini inspectable">
                <!-- component-title: Mini Card -->
                <div class="card-body">
                  <div class="media">
                    <div class="d-flex align-self-center mr-3">
                      <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
                    </div>
                    <div class="media-body text-right">
                      <h6 class="m-0 pt-2 text-muted">Return Visitors</h6>
                      <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-mini inspectable">
                <!-- component-title: Mini Card -->
                <div class="card-body">
                  <div class="media">
                    <div class="d-flex align-self-center mr-3">
                      <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
                    </div>
                    <div class="media-body text-right">
                      <h6 class="m-0 pt-2 text-muted">Cancellations</h6>
                      <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
