<%= content_for :js_libs, "demo-sparklines" %>

<div class="container-fluid">
  <h6>LEFT CHARTS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="d-flex align-self-center mr-3">
              <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
            </div>
            <div class="media-body text-right">
              <h6 class="m-0 pt-2 text-muted">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="d-flex align-self-center mr-3">
              <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
            </div>
            <div class="media-body text-right">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted pb-2">Page Hits</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-dark">
          <div class="media">
            <div class="d-flex align-self-center mr-3">
              <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
            </div>
            <div class="media-body text-right text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted pb-2">Page Hits</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-primary">
          <div class="media">
            <div class="d-flex align-self-center mr-3">
              <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
            </div>
            <div class="media-body text-right text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-5 pb-2">Page Hits</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h6>RIGHT CHARTS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h6 class="m-0 text-muted">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
            <div class="align-self-center">
              <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="align-self-center ml-3">
              <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-dark">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="align-self-center ml-3">
              <span class="spark-bar-1" sparkbarcolor="#6886a7" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-primary">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-5">Page Hits</h6>
            </div>
            <div class="align-self-center">
              <span class="spark-bar-1" sparkbarcolor="#efefef" style="width: 80px;"><%=(0..8).to_a.shuffle.join(', ') %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h6>LEFT ICONS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="d-flex align-self-center mr-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
            <div class="media-body text-right">
              <h6 class="m-0 pt-2 text-muted">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="d-flex align-self-center mr-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
            <div class="media-body text-right">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-dark">
          <div class="media">
            <div class="d-flex align-self-center mr-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
            <div class="media-body text-right text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-primary">
          <div class="media">
            <div class="d-flex align-self-center mr-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
            <div class="media-body text-right text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-5">Page Hits</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h6>RIGHT ICONS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h6 class="m-0 text-muted">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
            <div class="d-flex align-self-center ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-dark">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-primary">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-5">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h6>SPLIT ICONS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini card-mini-split inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h6 class="m-0 text-muted">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
            <div class="d-flex">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-split inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-split inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-dark">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-split inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-primary">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-5">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center ml-3">
              <span><i class="h1 ti-world"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h6>SOLID ICONS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h6 class="m-0 text-muted">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
            <div class="d-flex align-self-center text-primary ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-warning ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-dark">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-danger ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-primary">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-5">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-white ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h6>GRADIENT ICONS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini card-mini-icon-gradient-1 inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h6 class="m-0 text-muted">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
            <div class="d-flex align-self-center text-primary ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-icon-gradient-2 inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-warning ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-icon-gradient-3 inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-dark">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-danger ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-icon-gradient-4 inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-primary">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-5">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-info ml-3">
              <span><i class="h1 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h6>BORDERED ICONS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h6 class="m-0 text-muted">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
            <div class="d-flex align-self-center text-primary ml-3">
              <span><i class="h3 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-warning ml-3">
              <span><i class="h3 ti-world  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-dark">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-danger ml-3">
              <span><i class="h3 ti-user  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-primary">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-5">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-info ml-3">
              <span><i class="h3 ti-alert  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h6>2x BORDERED ICONS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon-2x inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h6 class="m-0 text-muted">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
            <div class="d-flex align-self-center text-primary ml-3">
              <span><i class="h3 ti-search"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon-2x inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-warning ml-3">
              <span><i class="h4 ti-spray"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon-2x inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-dark">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-danger ml-3">
              <span><i class="h3 ti-user  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon-2x inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body bg-primary">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-5">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-info ml-3">
              <span><i class="h3 ti-alert  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h6>GRADIENT BACKGROUNDS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon-2x bg-gradient-1 inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left text-white">
              <h6 class="m-0 text-white">Page Hits</h6>
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
            </div>
            <div class="d-flex align-self-center text-white ml-3">
              <span><i class="h3 ti-search"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon-2x bg-gradient-2 inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-muted">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-white ml-3">
              <span><i class="h4 ti-spray"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon-2x bg-gradient-3 inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-8">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-white ml-3">
              <span><i class="h3 ti-user  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-mini card-mini-solid-icon card-mini-bordered-icon-2x bg-gradient-4 inspectable">
        <!-- component-title: Mini Card -->
        <div class="card-body">
          <div class="media">
            <div class="media-body text-left text-white">
              <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">192</h4>
              <h6 class="m-0 text-opacity-8">Page Hits</h6>
            </div>
            <div class="d-flex align-self-center text-white ml-3">
              <span><i class="h3 ti-alert  "></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

