<div class="container-fluid">
  <h6>BASIC IMAGE CARDS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="//fillmurray.com/300/200" alt="It's Fill Murray everybody">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="//fillmurray.com/300/200" alt="It's Fill Murray everybody">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="//fillmurray.com/300/200" alt="It's Fill Murray everybody">
        <div class="card-body bg-dark text-white">
          <h4 class="card-title">Card title</h4>
          <p class="card-text text-opacity-7">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="//fillmurray.com/300/200" alt="It's Fill Murray everybody">
        <div class="card-body bg-neutral">
          <h4 class="card-title text-center">Card title</h4>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <h6>IMAGE TITLE CARDS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-image">
        <div class="card-header">
          <img class="card-img-top" src="//fillmurray.com/300/200" alt="It's Fill Murray everybody">
          <div class="floor-fade"></div>
          <h4 class="card-title">Card title</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-image">
        <div class="card-header">
          <img class="card-img-top" src="//fillmurray.com/300/200" alt="It's Fill Murray everybody">
          <h4 class="card-title">Card title</h4>
          <small class="card-label card-label-top badge badge-neutral">OPINION</small>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-image">
        <div class="card-header">
          <img class="card-img-top" src="//fillmurray.com/300/200" alt="It's Fill Murray everybody">
          <h4 class="card-title">
            Card title
          </h4>
        </div>
        <div class="card-body bg-dark text-white">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-image">
        <div class="card-header">
          <img class="card-img-top" src="//fillmurray.com/300/200" alt="It's Fill Murray everybody">
          <h4 class="card-title text-center">Card title</h4>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <h6>FULL BLEED IMAGE CARDS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-image cover-image" style="background-image: url(//fillmurray.com/300/200)">
        <div class="cover-content">
          <div class="card-header">
            <h4 class="card-title">Card title</h4>
          </div>
          <div class="card-body text-white">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-image cover-image" style="background-image: url(//fillmurray.com/300/200)">
        <div class="cover-content">
          <div class="card-header">
            <h4 class="card-title">Card title</h4>
            <small class="card-label card-label-top badge badge-neutral">OPINION</small>
          </div>
          <div class="card-body">
            <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-image cover-image" style="background-image: url(//fillmurray.com/300/200)">
        <div class="card-header">
          <h4 class="card-title">
            Card title
          </h4>
        </div>
        <div class="card-body bg-dark text-white">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-image cover-image" style="background-image: url(//fillmurray.com/300/200)">
        <div class="roof-fade"></div>
        <div class="card-header">
          <h4 class="card-title text-center">Card title</h4>
        </div>
        <div class="card-body text-white text-center">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <h6>AVATAR IMAGE CARDS</h6>
  <div class="row">
    <div class="col-3">
      <div class="card card-image card-image-avatar">
        <div class="cover-content">
          <div class="card-header">
            <%= random_avatar 128, 'rounded-circle shadow' %>
            <h4 class="card-title text-primary mt-4 my-2">Card title</h4>
            <h6 class="text-center text-muted">Professional Cat Wrangler</h6>
          </div>
          <div class="card-body d-flex justify-content-between text-primary">
            <%= theme_icon_tag "instagram", class: "cursor-pointer" %>
            <%= theme_icon_tag "dropbox", class: "cursor-pointer" %>
            <%= theme_icon_tag "dribbble", class: "cursor-pointer" %>
            <%= theme_icon_tag "twitter", class: "cursor-pointer" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-image card-image-avatar">
        <div class="cover-content">
          <div class="card-header">
            <%= random_avatar 128, 'img-thumbnail shadow' %>
            <h4 class="card-title text-primary mt-4 my-2">Card title</h4>
            <h6 class="text-center text-muted">Professional Cat Wrangler</h6>
          </div>
          <div class="card-body d-flex justify-content-between text-primary">
            <%= theme_icon_tag "instagram", class: "cursor-pointer" %>
            <%= theme_icon_tag "dropbox", class: "cursor-pointer" %>
            <%= theme_icon_tag "dribbble", class: "cursor-pointer" %>
            <%= theme_icon_tag "twitter", class: "cursor-pointer" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-image card-image-avatar bg-dark">
        <div class="cover-content">
          <div class="card-header">
            <%= random_avatar 128, 'rounded-circle shadow' %>
            <h4 class="card-title text-primary mt-4 my-2">Card title</h4>
            <h6 class="text-center text-muted">Professional Cat Wrangler</h6>
          </div>
          <div class="card-body d-flex justify-content-between text-primary">
            <%= theme_icon_tag "instagram", class: "cursor-pointer" %>
            <%= theme_icon_tag "dropbox", class: "cursor-pointer" %>
            <%= theme_icon_tag "dribbble", class: "cursor-pointer" %>
            <%= theme_icon_tag "twitter", class: "cursor-pointer" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-image card-image-avatar">
        <div class="cover-content">
          <div class="card-header">
            <%= random_avatar 128, 'rounded-circle shadow image-offset' %>
            <h4 class="card-title text-primary mt-4 my-2">Card title</h4>
            <h6 class="text-center text-muted">Professional Cat Wrangler</h6>
          </div>
          <div class="card-body d-flex justify-content-between text-primary">
            <%= theme_icon_tag "instagram", class: "cursor-pointer" %>
            <%= theme_icon_tag "dropbox", class: "cursor-pointer" %>
            <%= theme_icon_tag "dribbble", class: "cursor-pointer" %>
            <%= theme_icon_tag "twitter", class: "cursor-pointer" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
