<div class="container-fluid">
  <h6>TABBED CARDS</h6>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card card-tabbed">
        <div class="card-header">
          <h6>System Logs</h6>
          <ul class="nav nav-tabs nav-tabs-primary card-header-tabs" id="navTab1" role="tablist">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#navTab11" role="tab" aria-controls="navTab11" aria-expanded="true">Warning</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#navTab12" role="tab" aria-controls="navTab12" aria-expanded="false">Info</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#navTab13" role="tab" aria-controls="navTab13" aria-expanded="false">Alert</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#navTab14" role="tab" aria-controls="navTab14" aria-expanded="false">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="navTab11" role="tabpanel" aria-labelledby="navTab11">
              <table class="table table-sm font-size-small">
                <tdead>
                <tr>
                  <td>Time</td>
                  <td>Message</td>
                </tr>
                </tdead>
                <tbody>
                <tr>
                  <td >18/09/17 23:51</td>
                  <td><pre>cache miss witd id type: 1</pre></td>
                  </tr>
                  <tr>
                    <td >18/09/17 23:51</td>
                    <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                    </tr>
                    <tr>
                      <td >18/09/17 23:51</td>
                      <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane fade" id="navTab12" role="tabpanel" aria-labelledby="navTab12">
                    <table class="table">
                      <tdead>
                      <tr>
                        <td>Time</td>
                        <td>Message</td>
                      </tr>
                      </tdead>
                      <tbody>
                      <tr>
                        <td >18/09/17 23:51</td>
                        <td><pre>cache miss witd id type: 1</pre></td>
                        </tr>
                        <tr>
                          <td >18/09/17 23:51</td>
                          <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                          </tr>
                          <tr>
                            <td >18/09/17 23:51</td>
                            <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane fade" id="navTab13" role="tabpanel" aria-labelledby="navTab13">
                          <table class="table">
                            <tdead>
                            <tr>
                              <td>Time</td>
                              <td>Message</td>
                            </tr>
                            </tdead>
                            <tbody>
                            <tr>
                              <td >18/09/17 23:51</td>
                              <td><pre>cache miss witd id type: 1</pre></td>
                              </tr>
                              <tr>
                                <td >18/09/17 23:51</td>
                                <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                </tr>
                                <tr>
                                  <td >18/09/17 23:51</td>
                                  <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="tab-pane fade" id="navTab14" role="tabpanel" aria-labelledby="navTab14">
                                <table class="table">
                                  <tdead>
                                  <tr>
                                    <td>Time</td>
                                    <td>Message</td>
                                  </tr>
                                  </tdead>
                                  <tbody>
                                  <tr>
                                    <td >18/09/17 23:51</td>
                                    <td><pre>cache miss witd id type: 1</pre></td>
                                    </tr>
                                    <tr>
                                      <td >18/09/17 23:51</td>
                                      <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                      </tr>
                                      <tr>
                                        <td >18/09/17 23:51</td>
                                        <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-6">
                              <div class="card card-tabbed">
                                <div class="card-header bg-dark text-white">
                                  <h6>System Logs</h6>
                                  <ul class="nav nav-tabs nav-tabs-primary card-header-tabs" id="navTab1" role="tablist">
                                    <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#navTab21" role="tab" aria-controls="navTab11" aria-expanded="true">Warning</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#navTab22" role="tab" aria-controls="navTab12" aria-expanded="false">Info</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#navTab23" role="tab" aria-controls="navTab13" aria-expanded="false">Alert</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link disabled" data-toggle="tab" href="#navTab14" role="tab" aria-controls="navTab24" aria-expanded="false">Disabled</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="card-body">
                                  <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="navTab21" role="tabpanel" aria-labelledby="navTab11">
                                      <table class="table table-sm font-size-small">
                                        <tdead>
                                        <tr>
                                          <td>Time</td>
                                          <td>Message</td>
                                        </tr>
                                        </tdead>
                                        <tbody>
                                        <tr>
                                          <td >18/09/17 23:51</td>
                                          <td><pre>cache miss witd id type: 1</pre></td>
                                          </tr>
                                          <tr>
                                            <td >18/09/17 23:51</td>
                                            <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                            </tr>
                                            <tr>
                                              <td >18/09/17 23:51</td>
                                              <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                              </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          <div class="tab-pane fade" id="navTab22" role="tabpanel" aria-labelledby="navTab12">
                                            <table class="table table-sm font-size-small">
                                              <tdead>
                                              <tr>
                                                <td>Time</td>
                                                <td>Message</td>
                                              </tr>
                                              </tdead>
                                              <tbody>
                                              <tr>
                                                <td >18/09/17 23:51</td>
                                                <td><pre>cache miss witd id type: 1</pre></td>
                                                </tr>
                                                <tr>
                                                  <td >18/09/17 23:51</td>
                                                  <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                  </tr>
                                                  <tr>
                                                    <td >18/09/17 23:51</td>
                                                    <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                    </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                                <div class="tab-pane fade" id="navTab23" role="tabpanel" aria-labelledby="navTab13">
                                                  <table class="table table-sm font-size-small">
                                                    <tdead>
                                                    <tr>
                                                      <td>Time</td>
                                                      <td>Message</td>
                                                    </tr>
                                                    </tdead>
                                                    <tbody>
                                                    <tr>
                                                      <td >18/09/17 23:51</td>
                                                      <td><pre>cache miss witd id type: 1</pre></td>
                                                      </tr>
                                                      <tr>
                                                        <td >18/09/17 23:51</td>
                                                        <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                        </tr>
                                                        <tr>
                                                          <td >18/09/17 23:51</td>
                                                          <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                          </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                      <div class="tab-pane fade" id="navTab24" role="tabpanel" aria-labelledby="navTab14">
                                                        <table class="table">
                                                          <tdead>
                                                          <tr>
                                                            <td>Time</td>
                                                            <td>Message</td>
                                                          </tr>
                                                          </tdead>
                                                          <tbody>
                                                          <tr>
                                                            <td >18/09/17 23:51</td>
                                                            <td><pre>cache miss witd id type: 1</pre></td>
                                                            </tr>
                                                            <tr>
                                                              <td >18/09/17 23:51</td>
                                                              <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                              </tr>
                                                              <tr>
                                                                <td >18/09/17 23:51</td>
                                                                <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                                </tr>
                                                                </tbody>
                                                              </table>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <h6>TABBED ICON CARDS</h6>
                                                  <div class="row">
                                                    <div class="col-12 col-md-6">
                                                      <div class="card card-tabbed">
                                                        <div class="card-header">
                                                          <h6>System Logs</h6>
                                                          <ul class="nav nav-pills nav-pills-round nav-pills-primary" role="tablist">
                                                            <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#navTab31" role="tablist" aria-controls="navTab31" aria-expanded="true">
                                                              <%= theme_icon_tag "settings" %>
                                                            </a>
                                                            </li>
                                                            <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#navTab32" role="tablist" aria-expanded="false" aria-controls="navTab32">
                                                              <%= theme_icon_tag "thumb-up" %>
                                                            </a>
                                                            </li>
                                                            <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#navTab33" role="tablist" aria-expanded="false" arai-controls="navTab33">
                                                              <%= theme_icon_tag "thumb-down" %>
                                                            </a>
                                                            </li>
                                                            <li class="nav-item">
                                                            <a class="nav-link disabled" data-toggle="tab" href="#disabled" role="tablist">
                                                              <%= theme_icon_tag "printer" %>
                                                            </a>
                                                            </li>
                                                          </ul>
                                                        </div>
                                                        <div class="card-body">
                                                          <div class="tab-content" id="myTabContent">
                                                            <div class="tab-pane fade show active" id="navTab31" role="tabpanel" aria-labelledby="navTab11">
                                                              <table class="table table-sm font-size-small">
                                                                <tdead>
                                                                <tr>
                                                                  <td>Time</td>
                                                                  <td>Message</td>
                                                                </tr>
                                                                </tdead>
                                                                <tbody>
                                                                <tr>
                                                                  <td >18/09/17 23:51</td>
                                                                  <td><pre>cache miss witd id type: 1</pre></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td >18/09/17 23:51</td>
                                                                    <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                                    </tr>
                                                                    <tr>
                                                                      <td >18/09/17 23:51</td>
                                                                      <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                                      </tr>
                                                                      </tbody>
                                                                    </table>
                                                                  </div>
                                                                  <div class="tab-pane fade" id="navTab32" role="tabpanel" aria-labelledby="navTab12">
                                                                    <table class="table table-sm font-size-small">
                                                                      <tdead>
                                                                      <tr>
                                                                        <td>Time</td>
                                                                        <td>Message</td>
                                                                      </tr>
                                                                      </tdead>
                                                                      <tbody>
                                                                      <tr>
                                                                        <td >18/09/17 23:51</td>
                                                                        <td><pre>cache miss witd id type: 1</pre></td>
                                                                        </tr>
                                                                        <tr>
                                                                          <td >18/09/17 23:51</td>
                                                                          <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                                          </tr>
                                                                          <tr>
                                                                            <td >18/09/17 23:51</td>
                                                                            <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                                            </tr>
                                                                            </tbody>
                                                                          </table>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="navTab33" role="tabpanel" aria-labelledby="navTab13">
                                                                          <table class="table table-sm font-size-small">
                                                                            <tdead>
                                                                            <tr>
                                                                              <td>Time</td>
                                                                              <td>Message</td>
                                                                            </tr>
                                                                            </tdead>
                                                                            <tbody>
                                                                            <tr>
                                                                              <td >18/09/17 23:51</td>
                                                                              <td><pre>cache miss witd id type: 1</pre></td>
                                                                              </tr>
                                                                              <tr>
                                                                                <td >18/09/17 23:51</td>
                                                                                <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                                                </tr>
                                                                                <tr>
                                                                                  <td >18/09/17 23:51</td>
                                                                                  <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                                                  </tr>
                                                                                  </tbody>
                                                                                </table>
                                                                              </div>
                                                                              <div class="tab-pane fade" id="navTab34" role="tabpanel" aria-labelledby="navTab14">
                                                                                <table class="table">
                                                                                  <tdead>
                                                                                  <tr>
                                                                                    <td>Time</td>
                                                                                    <td>Message</td>
                                                                                  </tr>
                                                                                  </tdead>
                                                                                  <tbody>
                                                                                  <tr>
                                                                                    <td >18/09/17 23:51</td>
                                                                                    <td><pre>cache miss witd id type: 1</pre></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                      <td >18/09/17 23:51</td>
                                                                                      <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                                                      </tr>
                                                                                      <tr>
                                                                                        <td >18/09/17 23:51</td>
                                                                                        <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                      </table>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                            <div class="col-12 col-md-6">
                                                                              <div class="card card-tabbed">
                                                                                <div class="card-header bg-dark text-white">
                                                                                  <h6>System Logs</h6>
                                                                                  <ul class="nav nav-pills nav-pills-round nav-pills-warning" role="tablist">
                                                                                    <li class="nav-item">
                                                                                    <a class="nav-link active" data-toggle="tab" href="#navTab41" role="tablist" aria-expanded="true" aria-controls="navTab41">
                                                                                      <%= theme_icon_tag "settings" %>
                                                                                    </a>
                                                                                    </li>
                                                                                    <li class="nav-item">
                                                                                    <a class="nav-link" data-toggle="tab" href="#navTab42" role="tablist" aria-expanded="false" aria-controls="navTab42">
                                                                                      <%= theme_icon_tag "thumb-up" %>
                                                                                    </a>
                                                                                    </li>
                                                                                    <li class="nav-item">
                                                                                    <a class="nav-link" data-toggle="tab" href="#navTab43" role="tablist" aria-expanded="true" aria-controls="navTab43">
                                                                                      <%= theme_icon_tag "thumb-down" %>
                                                                                    </a>
                                                                                    </li>
                                                                                    <li class="nav-item">
                                                                                    <a class="nav-link disabled" data-toggle="tab" href="#disabled" role="tablist" aria-controls="navTab44">
                                                                                      <%= theme_icon_tag "printer" %>
                                                                                    </a>
                                                                                    </li>
                                                                                  </ul>
                                                                                </div>
                                                                                <div class="card-body">
                                                                                  <div class="tab-content" id="myTabContent">
                                                                                    <div class="tab-pane fade show active" id="navTab41" role="tabpanel" aria-labelledby="navTab11">
                                                                                      <table class="table table-sm font-size-small">
                                                                                        <tdead>
                                                                                        <tr>
                                                                                          <td>Time</td>
                                                                                          <td>Message</td>
                                                                                        </tr>
                                                                                        </tdead>
                                                                                        <tbody>
                                                                                        <tr>
                                                                                          <td >18/09/17 23:51</td>
                                                                                          <td><pre>cache miss witd id type: 1</pre></td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td >18/09/17 23:51</td>
                                                                                            <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                              <td >18/09/17 23:51</td>
                                                                                              <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                                                              </tr>
                                                                                              </tbody>
                                                                                            </table>
                                                                                          </div>
                                                                                          <div class="tab-pane fade" id="navTab42" role="tabpanel" aria-labelledby="navTab12">
                                                                                            <table class="table table-sm font-size-small">
                                                                                              <tdead>
                                                                                              <tr>
                                                                                                <td>Time</td>
                                                                                                <td>Message</td>
                                                                                              </tr>
                                                                                              </tdead>
                                                                                              <tbody>
                                                                                              <tr>
                                                                                                <td >18/09/17 23:51</td>
                                                                                                <td><pre>cache miss witd id type: 1</pre></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                  <td >18/09/17 23:51</td>
                                                                                                  <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                                                                  </tr>
                                                                                                  <tr>
                                                                                                    <td >18/09/17 23:51</td>
                                                                                                    <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                  </table>
                                                                                                </div>
                                                                                                <div class="tab-pane fade" id="navTab43" role="tabpanel" aria-labelledby="navTab13">
                                                                                                  <table class="table table-sm font-size-small">
                                                                                                    <tdead>
                                                                                                    <tr>
                                                                                                      <td>Time</td>
                                                                                                      <td>Message</td>
                                                                                                    </tr>
                                                                                                    </tdead>
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                      <td >18/09/17 23:51</td>
                                                                                                      <td><pre>cache miss witd id type: 1</pre></td>
                                                                                                      </tr>
                                                                                                      <tr>
                                                                                                        <td >18/09/17 23:51</td>
                                                                                                        <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                          <td >18/09/17 23:51</td>
                                                                                                          <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                                                                          </tr>
                                                                                                          </tbody>
                                                                                                        </table>
                                                                                                      </div>
                                                                                                      <div class="tab-pane fade" id="navTab44" role="tabpanel" aria-labelledby="navTab14">
                                                                                                        <table class="table table-sm font-size-small">
                                                                                                          <tdead>
                                                                                                          <tr>
                                                                                                            <td>Time</td>
                                                                                                            <td>Message</td>
                                                                                                          </tr>
                                                                                                          </tdead>
                                                                                                          <tbody>
                                                                                                          <tr>
                                                                                                            <td >18/09/17 23:51</td>
                                                                                                            <td><pre>cache miss witd id type: 1</pre></td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                              <td >18/09/17 23:51</td>
                                                                                                              <td><pre>Client: <private>, UID: 0, EUID: 0, GID: 0, EGID: 0</pre></td>
                                                                                                              </tr>
                                                                                                              <tr>
                                                                                                                <td >18/09/17 23:51</td>
                                                                                                                <td><pre>cert[2]: AnchorTrusted =(leaf)[force]> 0</pre></td>
                                                                                                                </tr>
                                                                                                                </tbody>
                                                                                                              </table>
                                                                                                            </div>
                                                                                                          </div>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  </div>

                                                                                                  <h6>TABBED DROPDOWN CARDS</h6>
                                                                                                  <div class="row">
                                                                                                    <div class="col-12 col-md-6">
                                                                                                      <div class="card card-tabbed">
                                                                                                        <div class="card-header">
                                                                                                          <h6>Social Network</h6>
                                                                                                          <ul class="nav nav-tabs nav-tabs-primary" role="tablist">
                                                                                                            <li class="nav-item dropdown">
                                                                                                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                                                                              Users
                                                                                                            </a>
                                                                                                            <div class="dropdown-menu dropdown-menu-right dropdown-neutral">
                                                                                                              <a class="dropdown-item active" id="dropdown1-tab" href="#navTab51" role="tab" data-toggle="tab" aria-controls="dropdown1">Followers</a>
                                                                                                              <a class="dropdown-item" id="dropdown2-tab" href="#navTab52" role="tab" data-toggle="tab" aria-controls="dropdown2">Following</a>
                                                                                                              <a class="dropdown-item" id="dropdown3-tab" href="#navTab53" role="tab" data-toggle="tab" aria-controls="dropdown3">Blocked</a>
                                                                                                            </div>
                                                                                                            </li>
                                                                                                          </ul>
                                                                                                        </div>
                                                                                                        <div class="card-body">
                                                                                                          <div class="tab-content" id="myTabContent">
                                                                                                            <div class="tab-pane fade show active text-center" id="navTab51" role="tabpanel" aria-labelledby="navTab51">
                                                                                                              <h5 class="m-0">Followers</h5>
                                                                                                              <% (1..12).each do |index|%>
                                                                                                                <%= random_avatar 64, 'rounded-circle light-shadow mt-4 mb-1 mr-3 p-1 border border-primary' %>
                                                                                                              <% end %>
                                                                                                            </div>
                                                                                                            <div class="tab-pane fade text-center" id="navTab52" role="tabpanel" aria-labelledby="navTab12">
                                                                                                              <h5 class="m-0">Following</h5>
                                                                                                              <% (1..7).each do |index|%>
                                                                                                                <%= random_avatar 64, 'rounded-circle light-shadow mt-4 mb-1 mr-3 p-1 border border-primary' %>
                                                                                                              <% end %>
                                                                                                            </div>
                                                                                                            <div class="tab-pane fade text-center" id="navTab53" role="tabpanel" aria-labelledby="navTab13">
                                                                                                              <h5 class="m-0">Blocked</h5>
                                                                                                              <% (1..20).each do |index|%>
                                                                                                                <%= random_avatar 64, 'rounded-circle light-shadow mt-4 mb-1 mr-3 p-1 border border-danger' %>
                                                                                                              <% end %>
                                                                                                            </div>
                                                                                                            <div class="tab-pane fade text-center" id="navTab54" role="tabpanel" aria-labelledby="navTab14">
                                                                                                            </div>
                                                                                                          </div>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                    <div class="col-12 col-md-6">
                                                                                                      <div class="card card-tabbed">
                                                                                                        <div class="card-header bg-dark text-white">
                                                                                                          <h6>Social Network</h6>
                                                                                                          <ul class="nav nav-tabs nav-tabs-primary" role="tablist">
                                                                                                            <li class="nav-item dropdown">
                                                                                                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                                                                              Users
                                                                                                            </a>
                                                                                                            <div class="dropdown-menu dropdown-menu-right dropdown-neutral">
                                                                                                              <a class="dropdown-item active" id="dropdown1-tab" href="#navTab61" role="tab" data-toggle="tab" aria-controls="dropdown1">Followers</a>
                                                                                                              <a class="dropdown-item" id="dropdown2-tab" href="#navTab62" role="tab" data-toggle="tab" aria-controls="dropdown2">Following</a>
                                                                                                              <a class="dropdown-item" id="dropdown3-tab" href="#navTab63" role="tab" data-toggle="tab" aria-controls="dropdown3">Blocked</a>
                                                                                                            </div>
                                                                                                            </li>
                                                                                                          </ul>
                                                                                                        </div>
                                                                                                        <div class="card-body">
                                                                                                          <div class="tab-content" id="myInverseTabContent">
                                                                                                            <div class="tab-content" id="myInverseTabContent">
                                                                                                              <div class="tab-pane fade show active text-center" id="navTab61" role="tabpanel" aria-labelledby="navTab51">
                                                                                                                <h5 class="m-0">Followers</h5>
                                                                                                                <% (1..12).each do |index|%>
                                                                                                                  <%= random_avatar 64, 'rounded-circle light-shadow mt-4 mb-1 mr-3 p-1 border border-primary' %>
                                                                                                                <% end %>
                                                                                                              </div>
                                                                                                              <div class="tab-pane fade text-center" id="navTab62" role="tabpanel" aria-labelledby="navTab12">
                                                                                                                <h5 class="m-0">Following</h5>
                                                                                                                <% (1..7).each do |index|%>
                                                                                                                  <%= random_avatar 64, 'rounded-circle light-shadow mt-4 mb-1 mr-3 p-1 border border-primary' %>
                                                                                                                <% end %>
                                                                                                              </div>
                                                                                                              <div class="tab-pane fade text-center" id="navTab63" role="tabpanel" aria-labelledby="navTab13">
                                                                                                                <h5 class="m-0">Blocked</h5>
                                                                                                                <% (1..20).each do |index|%>
                                                                                                                  <%= random_avatar 64, 'rounded-circle light-shadow mt-4 mb-1 mr-3 p-1 border border-danger' %>
                                                                                                                <% end %>
                                                                                                              </div>
                                                                                                              <div class="tab-pane fade text-center" id="navTab64" role="tabpanel" aria-labelledby="navTab14">
                                                                                                              </div>
                                                                                                            </div>
                                                                                                          </div>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div>
