%article.blog.blog-archive.mb50
  %header.text-center.vertical-center.mb50
    .bg.cover{:style => "background-image: url(#{asset_path(random_landscape_name)});"}
    .container
      %h1 Your App
      %h2.h4 Our Blog
  .col-xs-12.col-sm-12.col-md-8.col-md-offset-2.col-lg-8.col-md-offset-2
    %ol.list-unstyled
      %li
        %h1 Ventolin makes me march around like Justin Brown
        .article-meta.media.color-grey-50
          .pull-left
            = random_avatar 40, 'media-object img-rounded'
          .media-body
            %p.m0.media-heading
              %a{:href => "#"} by John McDowall
              in
              %a{:href => "#"} Rails, Front-end, Magic
              \&#8226;
              %time 14th May 2015
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut dolor laudantium repellat veniam consectetur voluptate excepturi voluptatum doloremque nesciunt! Accusantium, eos, vel. Ratione vero, non magnam cum qui facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %a{:href => "#"} Read more &#8594;
      %li
        %h1 Invaders seeking remedial help
        .article-meta.media.color-grey-50
          .pull-left
            = random_avatar 40, 'media-object img-rounded'
          .media-body
            %p.m0.media-heading
              %a{:href => "#"} by John McDowall
              in
              %a{:href => "#"} Rails, Front-end, Magic
              \&#8226;
              %time 14th May 2015
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut dolor laudantium repellat veniam consectetur voluptate excepturi voluptatum doloremque nesciunt! Accusantium, eos, vel. Ratione vero, non magnam cum qui facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %a{:href => "#"} Read more &#8594;
      %li
        %h1 Perfect round sphere of joy
        .article-meta.media.color-grey-50
          .pull-left
            = random_avatar 40, 'media-object img-rounded'
          .media-body
            %p.m0.media-heading
              %a{:href => "#"} by John McDowall
              in
              %a{:href => "#"} Rails, Front-end, Magic
              \&#8226;
              %time 14th May 2015
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut dolor laudantium repellat veniam consectetur voluptate excepturi voluptatum doloremque nesciunt! Accusantium, eos, vel. Ratione vero, non magnam cum qui facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %a{:href => "#"} Read more &#8594;
      %li
        %h1 Zombies identified on the plains of the Sierra Madre
        .article-meta.media.color-grey-50
          .pull-left
            = random_avatar 40, 'media-object img-rounded'
          .media-body
            %p.m0.media-heading
              %a{:href => "#"} by John McDowall
              in
              %a{:href => "#"} Rails, Front-end, Magic
              \&#8226;
              %time 14th May 2015
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut dolor laudantium repellat veniam consectetur voluptate excepturi voluptatum doloremque nesciunt! Accusantium, eos, vel. Ratione vero, non magnam cum qui facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %a{:href => "#"} Read more &#8594;
      %li
        %h1 Ventolin makes me march around like Justin Brown
        .article-meta.media.color-grey-50
          .pull-left
            = random_avatar 40, 'media-object img-rounded'
          .media-body
            %p.m0.media-heading
              %a{:href => "#"} by John McDowall
              in
              %a{:href => "#"} Rails, Front-end, Magic
              \&#8226;
              %time 14th May 2015
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut dolor laudantium repellat veniam consectetur voluptate excepturi voluptatum doloremque nesciunt! Accusantium, eos, vel. Ratione vero, non magnam cum qui facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %a{:href => "#"} Read more &#8594;
      %li
        %h1 Ventolin makes me march around like Justin Brown
        .article-meta.media.color-grey-50
          .pull-left
            = random_avatar 40, 'media-object img-rounded'
          .media-body
            %p.m0.media-heading
              %a{:href => "#"} by John McDowall
              in
              %a{:href => "#"} Rails, Front-end, Magic
              \&#8226;
              %time 14th May 2015
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut dolor laudantium repellat veniam consectetur voluptate excepturi voluptatum doloremque nesciunt! Accusantium, eos, vel. Ratione vero, non magnam cum qui facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %a{:href => "#"} Read more &#8594;
      %li
        %h1 Ventolin makes me march around like Justin Brown
        .article-meta.media.color-grey-50
          .pull-left
            = random_avatar 40, 'media-object img-rounded'
          .media-body
            %p.m0.media-heading
              %a{:href => "#"} by John McDowall
              in
              %a{:href => "#"} Rails, Front-end, Magic
              \&#8226;
              %time 14th May 2015
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aut dolor laudantium repellat veniam consectetur voluptate excepturi voluptatum doloremque nesciunt! Accusantium, eos, vel. Ratione vero, non magnam cum qui facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %a{:href => "#"} Read more &#8594;
