.container-fluid
  .row.mt20
    .col-xs-12.col-sm-12.col-md-8.col-lg-8
      .row
        - metric_names.each do |metric|
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            .panel.panel-metric
              .panel-body
                .metric-content
                  .metric-value
                    = random_value metric[:type]
                  .metric-trend
                    - direction = increase_or_decrease
                    %p{:class => increase_or_decrease_class(direction)}
                      %i{:class => "fa #{increase_or_decrease_chevron direction}"}
                      = random_percent
                    %strong 30 Days Ago
                  %div{:id => "metric-#{metric[:name].downcase.parameterize}", :style => "height:150px;"}
                  %header
                    %h3= metric[:name]
          - content_for :javascript do
            :javascript
              flotMetric('#metric-#{metric[:name].downcase.parameterize}', #{random_trending_data(direction)} );
    .col-xs-12.col-sm-12.col-md-4.col-lg-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Activity
        .panel-body
          %ul.list-unstyled.small
            - types = [ { klass: 'refund', css_class: 'label-danger'},  { klass: 'purchase', css_class: 'label-success'}, { klass: 'cancellation', css_class: 'label-info'}]
            - (1..20).each do |index|
              %li.mb10
                - instance = types[Random.rand(types.length)]
                %span{:class => "label #{instance[:css_class]} mr10"}= instance[:klass].upcase
                %strong
                  $#{Random.rand(120)}
                from
                %strong Me
                %small.text-muted= time_ago_in_words( DateTime.now-(10+index.minutes) )