<div class='row'>
  <div class='col-sm-12'>
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-primary" id="panels">
          <div class="panel-heading">
            Default Panel
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            Success Panel
          </div>
          <div class="panel-body">This is a panel</div>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-danger">
          <div class="panel-heading">
            Danger Panel
          </div>
          <div class="panel-body">This is a panel</div>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-warning">
          <div class="panel-heading">
            Warning Panel
          </div>
          <div class="panel-body">This is a panel</div>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            Button Panel
            <div class="btn-group user-drop button-dropdown pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class='fa fa-cog'></i>
              </button>
              <ul class="dropdown-menu blue" role="menu">
                <li>
                  <a href="#">Options</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a class="text" href="#">Delete</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-tasks"></span>
            Icon Panel
            <div class="btn-group user-drop button-dropdown pull-right">
              <ul class="dropdown-menu blue" role="menu">
                <li>
                  <a href="#">Options</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a class="text" href="#">Delete</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="pull-right label label-info">13</div>
            Badge Panel
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">Info Panel
          </div>
          <p class="panel-body">This is a panel</p>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            Panel with List Group
          </div>
          <div class="panel-body">This is a panel</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">First Item</li>
            <li class="list-group-item">Second Item</li>
            <li class="list-group-item">Third Item</li>
          </ul>
          <div class="panel-footer">This is a footer
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= ionicon_icon_tag 'flame' %>
            Icon Panel with Tabs
            <ul class="nav nav-tabs nav-tabs-xs">
              <li class="active">
                <a href="#dashboard-recent-comments" data-toggle="tab">Comments</a>
              </li>
              <li class="">
                <a href="#dashboard-recent-threads" data-toggle="tab">Forum threads</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active in" style='height: 374px; overflow: scroll;' id='dashboard-recent-comments'>
              <ul class="list-group list-group-flush">
                <li class='list-group-item'>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <%= random_avatar 40, "media-object" %>
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="#" title="">Fill Murray</a> commented on <a href="#" title="">Article Name</a></h5>
                      <p class='small'>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                      <ul class="list-inline small">
                        <li><a href="#"><i class="fa fa-fw fa-pencil"></i>Edit</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-times"></i>Remove</a></li>
                        <span class="pull-right">1 hour ago</span>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class='list-group-item'>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <%= random_avatar 40, "media-object" %>
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="#" title="">Fill Murray</a> commented on <a href="#" title="">Article Name</a></h5>
                      <p class='small'>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                      <ul class="list-inline small">
                        <li><a href="#"><i class="fa fa-fw fa-pencil"></i>Edit</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-times"></i>Remove</a></li>
                        <span class="pull-right">1 hour ago</span>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class='list-group-item'>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <%= random_avatar 40, "media-object" %>
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="#" title="">Fill Murray</a> commented on <a href="#" title="">Article Name</a></h5>
                      <p class='small'>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                      <ul class="list-inline small">
                        <li><a href="#"><i class="fa fa-fw fa-pencil"></i>Edit</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-times"></i>Remove</a></li>
                        <span class="pull-right">1 hour ago</span>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="dashboard-recent-threads">
              <div style="overflow: scroll; width: auto; height: 374px;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <%= random_avatar 40, "media-object" %>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="#" title="">Lorem ipsum dolor sit amet</a></h5>
                        <div class="small">started by <a href="#" title="">Fill Murray</a> in <a href="#" title="">Forum name</a><span class="pull-right">3h</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <%= random_avatar 40, "media-object" %>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="#" title="">Lorem ipsum dolor sit amet</a></h5>
                        <div class="small">started by <a href="#" title="">Fill Murray</a> in <a href="#" title="">Forum name</a><span class="pull-right">3h</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <%= random_avatar 40, "media-object" %>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="#" title="">Lorem ipsum dolor sit amet</a></h5>
                        <div class="small">started by <a href="#" title="">Fill Murray</a> in <a href="#" title="">Forum name</a><span class="pull-right">3h</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <%= random_avatar 40, "media-object" %>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="#" title="">Lorem ipsum dolor sit amet</a></h5>
                        <div class="small">started by <a href="#" title="">Fill Murray</a> in <a href="#" title="">Forum name</a><span class="pull-right">3h</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <%= random_avatar 40, "media-object" %>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="#" title="">Lorem ipsum dolor sit amet</a></h5>
                        <div class="small">started by <a href="#" title="">Fill Murray</a> in <a href="#" title="">Forum name</a><span class="pull-right">3h</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <%= random_avatar 40, "media-object" %>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="#" title="">Lorem ipsum dolor sit amet</a></h5>
                        <div class="small">started by <a href="#" title="">Fill Murray</a> in <a href="#" title="">Forum name</a><span class="pull-right">3h</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <%= random_avatar 40, "media-object" %>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="#" title="">Lorem ipsum dolor sit amet</a></h5>
                        <div class="small">started by <a href="#" title="">Fill Murray</a> in <a href="#" title="">Forum name</a><span class="pull-right">3h</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel with Switch
          <label class="switch switch-warning pull-right"><input type="checkbox" checked=""><span></span></label>
        </h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel with Pagination
          <ul class="pagination pagination-xs pull-right">
            <li><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Wells</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-3">
          <div class="well" id="wells">Default Well
          </div>
          <div class="well well-sm">Small Well
          </div>
        </div>
        <div class="col-lg-3">
          <div class="well well-lg">Large Padding Well
          </div>
        </div>
      </div>
    </div>
  </div>
</div>