<%= render partial: "side_menu" %>
<div class='main-content'>
  <%= render partial: 'dashboard_top_nav' %>

  <div class='page-header row row-same-height'>
    <h1 class='col-sm-6 col-xs-height'><%= raw @title.gsub('_', ' ').titleize %></h1>
    <ol class="breadcrumb col-sm-6 col-xs-height text-right col-middle">
      <% @breadcrumbs.each do |crumb| %>
      <li><%=crumb%></li>
      <% end %>
    </ol>
  </div>
  <div class='container-fluid animate-fade-in-500'>
    <%= render file: "preview/elements/#{@section}" %>
  </div>

</div>
