
<%= content_for :js_libs, "modernizr parallax" %>

<main class="landing-3">
<div class="parallax-window" data-parallax="scroll" data-speed="0.5" data-image-src="<%= asset_path('rrt/stock/us_landscape_2.jpg') %>">

  <img src="<%= asset_path('rrt/stock/us_landscape_2.jpg') %>" style="display: none;">
  <div class="container">
    <div class="text-white">
      <%= render partial: 'content_blocks/landing_navs/1', locals: { nav_class: '' } %>
    </div>

    <div class="row">
      <div class="col-12 col-md-7 ml-md-auto mr-md-auto text-center text-white mt-5">
        <h1 class="text-shadow-light leading-normal">You'll never have to work again</h1>
        <p class="lead font-weight-medium mt-5 text-shadow-light">PYRMID is the ultimate in trans-human enhancement. Neural lace interface of the finest quality.</p>
        <a class="btn btn-lg btn-circle btn-outline-light text-white text-hover-dark" href="javascript:">Find out More</a>
      </div>
    </div>
    <div class="row mt-5 pt-5 pb-5">
      <div class="col-12 col-md-4 text-center text-white">
        <div class="bg-circle mb-4">
          <%= theme_icon_tag "eye", class: "text-opacity-9 display-3" %>
        </div>
        <h5>Amazing Feature</h5>
        <p class="small px-5 text-opacity-8">Ipsum aliquam earum nesciunt officia accusantium optio aliquid enim quasi numquam sunt autem? Omnis odio earum aspernatur reprehenderit ab? </p>
      </div>
      <div class="col-12 col-md-4 text-center text-white">
        <div class="bg-circle text-white mb-4">
          <%= theme_icon_tag "ticket", class: "display-3" %>
        </div>
        <h5>Amazing Feature</h5>
        <p class="small px-5 text-opacity-8">Ipsum aliquam earum nesciunt officia accusantium optio aliquid enim quasi numquam sunt autem? Omnis odio earum aspernatur reprehenderit ab? </p>
      </div>
      <div class="col-12 col-md-4 text-center text-white">
        <div class="bg-circle text-white mb-4">
          <%= theme_icon_tag "pulse", class: "display-3" %>
        </div>
        <h5>Amazing Feature</h5>
        <p class="small px-5 text-opacity-8">Ipsum aliquam earum nesciunt officia accusantium optio aliquid enim quasi numquam sunt autem? Omnis odio earum aspernatur reprehenderit ab? </p>
      </div>
    </div>
  </div>
</div>


</main>
<section>
  <div class="container content-block-2 py-5 mt-5 mb-5">
    <div class="row">
      <div class="co-12 col-md-5 mr-md-auto">
        <img src="//placeimg.com/600/400/any" class="rounded">
      </div>
      <div class="col-12 col-md-6">
        <h3>This is an awesome thing here</h3>
        <p class="lead">Amazing virtues of modern startup capitalism</p>
        <p>You won't believe what lorem facere maiores corporis architecto magnam sunt expedita et! Ut fuga numquam similique nesciunt dolor. Culpa necessitatibus numquam reprehenderit corporis accusantium numquam doloremque sunt! Error in magnam ipsum temporibus minus.</p>
        <a class="btn btn-primary" href="javascript:"><%= theme_icon_tag "eye" %> Action 1</a>
        <a class="btn btn-success" href="javascript:"><%= theme_icon_tag "upload" %> Action 2</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container content-block-1 py-5 mt-5 mb-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>This is an awesome thing here</h3>
        <p class="lead">Amazing virtues of modern startup capitalism</p>
        <p>You won't believe what lorem facere maiores corporis architecto magnam sunt expedita et! Ut fuga numquam similique nesciunt dolor. Culpa necessitatibus numquam reprehenderit corporis accusantium numquam doloremque sunt! Error in magnam ipsum temporibus minus.</p>
        <a class="btn btn-primary" href="javascript:"><%= theme_icon_tag "eye" %> Action 1</a>
        <a class="btn btn-success" href="javascript:"><%= theme_icon_tag "upload" %> Action 2</a>
      </div>
      <div class="co-12 col-md-5 ml-md-auto">
        <img src="//placeimg.com/600/400/any" class="rounded">
      </div>
    </div>
  </div>
</section>
<section class="bg-white">
  <div class="container py-5">
    <div class="row no-gutters equal-cols align-items-center">
      <div class="col-12 col-md-5">
        <img class="mb-3 mb-md-0" src="//placeimg.com/800/600" height="510px">
      </div>
      <div class="col-12 col-md-5 mx-md-auto">
        <h2 class="leading-normal">Ultime fantastic nightstand reproduction</h2>
        <p class="lead">Dolor obcaecati at nesciunt quibusdam sed nesciunt quibusdam repellendus, ab reprehenderit. Ea tempore voluptas esse qui eius consequuntur! </p>
        <a class="d-table btn btn-outline-primary btn-border-2x" href="javascript:">See the demo</a>

        <div class="row no-gutters mt-5">
          <div class="col-12 col-md-5">
            <h6 class="font-weight-normal">Cats on the roof</h6>
            <p class="small text-muted">Ipsum quaerat officia accusantium totam aliquid. Facere quaerat fugiat nostrum debitis officia? Tempore repudiandae eaque expedita quisquam nisi?</p>
          </div>
          <div class="col-12 col-md-5 ml-md-auto">
            <h6 class="font-weight-normal">Cats on the roof</h6>
            <p class="small text-muted">Ipsum quaerat officia accusantium totam aliquid. Facere quaerat fugiat nostrum debitis officia? Tempore repudiandae eaque expedita quisquam nisi?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-dark py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-wrap align-items-center justify-content-between text-white">
        <div class="cta-body">
          <h5 class="m-0">Try it for free</h5>
          <p class="lead m-0">Already using MyApp? <a href="#" class="text-success">Sign in.</a></p>
        </div>
        <a class="btn btn-success btn-lg text-uppercase d-table" href="javascript:">Get Started</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column flex-wrap align-items-center justify-content-center p-5">
        <div class="border border-info border-2x btn-lg text-uppercase">
          <h4 class="m-0">Made with <%= theme_icon_tag "heart" %> in Victoria, BC</h4>
        </div>
        <h6 class="text-center pt-5">Ipsum soluta labore! Assumenda!</h6>
        <div class="btn btn-success">Sign up Now</div>
      </div>
    </div>
  </div>
</section>

<footer class="bg-dark">
  <div class="container">
    <div class="row no-gutter bg-dark p-5">
      <div class="col-12 col-md-2">
        <div class="d-flex flex-column flex-wrap align-items-start justify-content-center">
          <img src="<%= image_path('rrt/pyrrmid_64.png') %>" class="mb-3" width="64" height="64" >
          <h6 class="text-white">PYRMID</h6>
        </div>
      </div>
      <div class="col-12 col-md-10 ml-md-auto text-white">
        <div class="row">
          <div class="col-12 col-md-3">
            <h6>NAVIGATION</h6>
            <ul class="list-unstyled">
              <li><a href="javascript:" class="text-hover-light">Home</a></li>
              <li><a href="javascript:" class="text-hover-light">About</a></li>
              <li><a href="javascript:" class="text-hover-light">Projects</a></li>
              <li><a href="javascript:" class="text-hover-light">Contact</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <h6>LEGAL</h6>
            <ul class="list-unstyled">
              <li><a href="javascript:" class="text-hover-light">Terms of Service</a></li>
              <li><a href="javascript:" class="text-hover-light">Privacy Policy</a></li>
              <li><a href="javascript:" class="text-hover-light">Cookie Policy</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <h6>SUPPORT</h6>
            <ul class="list-unstyled">
              <li><a href="javascript:" class="text-hover-light">FAQ</a></li>
              <li><a href="javascript:" class="text-hover-light">Help Desk</a></li>
              <li><a href="javascript:" class="text-hover-light">Knowledge Base</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <h6>SUBSCRIBE</h6>
            <form action="">
              <input type="text" class="form-control text-white text-focus-dark small" placeholder="Your Email">
              <button class="btn btn-success btn-sm btn-block mt-2" type="button">Get Notified</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutter bg-dark p-4">
      <div class="col-12 text-center">
        <p class="small text-muted m-0">&copy; 2017 &dash; PYRMID INC</p>
      </div>
    </div>
  </div>

</footer>
