<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>Basic Buttons</h6>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-default">Default</button>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-light">Light</button>
          <button type="button" class="btn btn-dark">Dark</button>
          <button type="button" class="btn btn-link">Link</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>Large Buttons</h6>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-lg btn-default my-2">Default</button>
          <button type="button" class="btn btn-lg btn-primary my-2">Primary</button>
          <button type="button" class="btn btn-lg btn-success my-2">Success</button>
          <button type="button" class="btn btn-lg btn-info my-2">Info</button>
          <button type="button" class="btn btn-lg btn-warning my-2">Warning</button>
          <button type="button" class="btn btn-lg btn-danger my-2">Danger</button>
          <button type="button" class="btn btn-lg btn-light my-2">Light</button>
          <button type="button" class="btn btn-lg btn-dark my-2">Dark</button>
          <button type="button" class="btn btn-lg btn-link my-2">Link</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>Small Buttons</h6>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-sm btn-default my-2">Default</button>
          <button type="button" class="btn btn-sm btn-primary my-2">Primary</button>
          <button type="button" class="btn btn-sm btn-success my-2">Success</button>
          <button type="button" class="btn btn-sm btn-info my-2">Info</button>
          <button type="button" class="btn btn-sm btn-warning my-2">Warning</button>
          <button type="button" class="btn btn-sm btn-danger my-2">Danger</button>
          <button type="button" class="btn btn-sm btn-light my-2">Light</button>
          <button type="button" class="btn btn-sm btn-dark my-2">Dark</button>
          <button type="button" class="btn btn-sm btn-link my-2">Link</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>Icon Buttons</h6>
        </div>
        <div class="card-body">
          <div>
            <button type="button" class="btn btn-default my-2"><%= theme_icon_tag "star" %> Default</button>
            <button type="button" class="btn btn-primary my-2"><%= theme_icon_tag "heart" %> Primary</button>
            <button type="button" class="btn btn-success my-2"><%= theme_icon_tag "eye" %> Success</button>
            <button type="button" class="btn btn-info my-2"><%= theme_icon_tag "crown" %> Info</button>
            <button type="button" class="btn btn-warning my-2"><%= theme_icon_tag "bolt-alt" %> Warning</button>
            <button type="button" class="btn btn-danger my-2"><%= theme_icon_tag "alert" %> Danger</button>
            <button type="button" class="btn btn-light my-2"><%= theme_icon_tag "info-alt" %> Light</button>
            <button type="button" class="btn btn-dark my-2"><%= theme_icon_tag "hand-stop" %> Dark</button>
            <button type="button" class="btn btn-link my-2"><%= theme_icon_tag "alert" %> Link</button>
          </div>
          <div>
            <button type="button" class="btn btn-icon btn-default my-2"><%= theme_icon_tag "star" %></button>
            <button type="button" class="btn btn-icon btn-primary my-2"><%= theme_icon_tag "heart" %></button>
            <button type="button" class="btn btn-icon btn-success my-2"><%= theme_icon_tag "eye" %></button>
            <button type="button" class="btn btn-icon btn-info my-2"><%= theme_icon_tag "crown" %></button>
            <button type="button" class="btn btn-icon btn-warning my-2"><%= theme_icon_tag "bolt-alt" %></button>
            <button type="button" class="btn btn-icon btn-danger my-2"><%= theme_icon_tag "alert" %></button>
            <button type="button" class="btn btn-icon btn-light my-2"><%= theme_icon_tag "info-alt" %></button>
            <button type="button" class="btn btn-icon btn-dark my-2"><%= theme_icon_tag "hand-stop" %></button>
            <button type="button" class="btn btn-icon btn-link my-2"><%= theme_icon_tag "alert" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card card-default">
    <div class="card-header">
      <h6 class="card-title">Circular Buttons</h6>
    </div>
    <div class="card-body">
      <p>
        <button type="button" class="btn btn-circle btn-lg btn-default">Default</button>
        <button type="button" class="btn btn-circle btn-lg btn-primary">Primary</button>
        <button type="button" class="btn btn-circle btn-lg btn-success">Success</button>
        <button type="button" class="btn btn-circle btn-lg btn-info">Info</button>
        <button type="button" class="btn btn-circle btn-lg btn-warning">Warning</button>
        <button type="button" class="btn btn-circle btn-lg btn-danger">Danger</button>
        <button type="button" class="btn btn-circle btn-lg btn-dark">Inverse</button>
        <button type="button" class="btn btn-circle btn-lg btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-circle btn-default">Default</button>
        <button type="button" class="btn btn-circle btn-primary">Primary</button>
        <button type="button" class="btn btn-circle btn-success">Success</button>
        <button type="button" class="btn btn-circle btn-info">Info</button>
        <button type="button" class="btn btn-circle btn-warning">Warning</button>
        <button type="button" class="btn btn-circle btn-danger">Danger</button>
        <button type="button" class="btn btn-circle btn-dark">Inverse</button>
        <button type="button" class="btn btn-circle btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-circle btn-icon btn-default"><%= theme_icon_tag "star" %></button>
        <button type="button" class="btn btn-icon btn-circle btn-primary"><%= theme_icon_tag "smallcap" %></button>
        <button type="button" class="btn btn-circle btn-icon btn-success"><%= theme_icon_tag "plus" %></button>
        <button type="button" class="btn btn-circle btn-icon btn-info"><%= theme_icon_tag "align-left" %></button>
        <button type="button" class="btn btn-circle btn-icon btn-warning"><%= theme_icon_tag "layout-slider" %></button>
        <button type="button" class="btn btn-circle btn-icon btn-danger"><%= theme_icon_tag "upload" %></button>
        <button type="button" class="btn btn-circle btn-icon btn-dark"><%= theme_icon_tag "download" %></button>
        <button type="button" class="btn btn-circle btn-icon btn-link"><%= theme_icon_tag "loop" %></button>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6>Outline Buttons</h6>
        </div>
        <div class="card-body">
          <div class="my-4">
            <button type="button" class="btn btn-circle btn-outline-default">Default</button>
            <button type="button" class="btn btn-circle btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-circle btn-outline-success">Success</button>
            <button type="button" class="btn btn-circle btn-outline-info">Info</button>
            <button type="button" class="btn btn-circle btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-circle btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-circle btn-outline-dark">Dark</button>
            <button type="button" class="btn btn-circle btn-outline-light">Light</button>
            <button type="button" class="btn btn-circle btn-outline-link">Link</button>
          </div>
          <div>
            <button type="button" class="btn btn-circle btn-icon btn-outline-default"><%= theme_icon_tag "star" %></button>
            <button type="button" class="btn btn-icon btn-circle btn-outline-primary"><%= theme_icon_tag "smallcap" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-success"><%= theme_icon_tag "plus" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-info"><%= theme_icon_tag "align-left" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-warning"><%= theme_icon_tag "layout-slider" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-danger"><%= theme_icon_tag "upload" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-dark"><%= theme_icon_tag "download" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-outline-link"><%= theme_icon_tag "loop" %></button>
          </div>
          <div class="my-4">
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-default">Default</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-success">Success</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-info">Info</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-dark">Dark</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-light">Light</button>
            <button type="button" class="btn btn-circle btn-border-2x btn-outline-link">Link</button>
          </div>
          <div>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-default"><%= theme_icon_tag "star" %></button>
            <button type="button" class="btn btn-icon btn-circle btn-border-2x btn-outline-primary"><%= theme_icon_tag "smallcap" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-success"><%= theme_icon_tag "plus" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-info"><%= theme_icon_tag "align-left" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-warning"><%= theme_icon_tag "layout-slider" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-danger"><%= theme_icon_tag "upload" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-dark"><%= theme_icon_tag "download" %></button>
            <button type="button" class="btn btn-circle btn-icon btn-border-2x btn-outline-link"><%= theme_icon_tag "loop" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
