<% basic_blocks = Dir.entries(File.join(File.dirname(__FILE__), '_content_block_basic')).select { |f| !File.directory?(f)}.sort_by { |s| s.scan(/\d+/).first.to_i } %>

<div class="container-fluid">
  <% basic_blocks.each_with_index do |block, index| %>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h6>
              LANDING BASIC BLOCK <%= index+1 %>
            </h6>
          </div>
          <%= render partial: "preview/elements/006_content_blocks@ti-view-list/_content_block_basic/#{block.gsub(/_/, '')}" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h6>
              LANDING BASIC BLOCK <%= index+1 %>
            </h6>
          </div>
          <div class="bg-dark text-white">
            <%= render partial: "preview/elements/006_content_blocks@ti-view-list/_content_block_basic/#{block.gsub(/_/, '')}" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h6>
              LANDING BASIC BLOCK <%= index+1 %>
            </h6>
          </div>
          <div class="bg-primary text-white inspectable">
            <%= render partial: "preview/elements/006_content_blocks@ti-view-list/_content_block_basic/#{block.gsub(/_/, '')}" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>





</div>
