- content_for :navbar, render("layouts/user_nav")
= render :layout => "layouts/minimal" do
  .page-header
    .container
      .row
        .col-md-7
          %h2= @title
          = yield :description
        .col-md-2
          = yield :actions

  .container
    .row
      = render "layouts/flashes"
  .container-fluid
    #content.col-md-12
      = yield
    / /#content