<%= render layout: "layouts/base" do %>
  <%= render partial: "layouts/side_menu" %>

  <div class="main-content">
    <%= render partial: 'layouts/dashboard_top_nav' %>
    <div class="container pt-4">
      <%= render "layouts/flashes" %>
      <%= yield %>
    </div>
  </div>
<% end %>
