<div class='container-fluid'>
  <div class='row'>
    <div class="left-timeline col-12">
      <form role="form" class="timeline-update">
        <textarea class="form-control mb-4" placeholder="What are you working on?"></textarea>
        <div class="row">
          <div class="col-6">
            <a class="btn btn-sm btn-default"><i class="fa fa-fw fa-camera"></i></a>
            <a class="btn btn-sm btn-default"><i class="fa fa-fw fa-video-camera"></i></a>
            <a class="btn btn-sm btn-default"><i class="fa fa-fw fa-map-marker"></i></a>
          </div>
          <div class="col-6 text-right">
            <button type="submit" class="btn btn-primary btn">Post</button>
          </div>
        </div>
      </form>
      <ul>
        <li>
          <time>
            <span>13</span>
            <small>Feb</small>
          </time>
          <header>
            <%= random_avatar 32, "img-rounded" %>
            <h4 class='m0 mt15 mb15'> James uploaded a video. </h4>
          </header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos hic quae cumque, odio aspernatur nulla, iste, placeat similique tenetur molestiae, enim minus quisquam obcaecati officiis odit voluptas repudiandae doloremque sequi.
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/QmMtIG0St64"></iframe>
          </div>
        </li>
        <li>
          <time>
            <span>12</span>
            <small>Feb</small>
          </time>
          <header>
            <%= random_avatar 32, "img-rounded" %>
            <h4 class='m0 mt15 mb15'> James uploaded a video. </h4>
          </header>
          <p>
            Today I'm working on refactoring the video encoding processor to be slightly more efficient about handling cancellations.
          </p>
        </li>
        <li class='join-to-previous'>
          <header>
            <%= random_avatar 32, "img-rounded" %>
            <h4 class='m0 mt15 mb15'> James uploaded a video. </h4>
          </header>
          <p>
            Closes #215 - Monster update of nothing in particular.
          </p>
        </li>
        <li class="period-marker">
          <p>Last Month</p>
        </li>
        <li>
          <time>
            <span>23</span>
            <small>Jan</small>
          </time>
          <header>
            <%= random_avatar 32, "img-rounded" %>
            <h4 class='m0 mt15 mb15'> John claimed a bonus point.</h4>
          </header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis modi animi doloribus voluptates blanditiis soluta in unde sit incidunt numquam dicta eligendi asperiores quas, architecto quisquam adipisci, velit ab sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quo cumque nulla, iusto, nemo magnam enim ullam atque dicta deleniti necessitatibus minima eos accusamus, culpa, suscipit optio voluptas nihil? Assumenda.
          </p>
        </li>
        <li>
          <time>
            <span>12</span>
            <small>Jan</small>
          </time>
          <header>
            <%= random_avatar 32, "img-rounded" %>
            <h4 class='m0 mt15 mb15'> James uploaded a video.</h4>
          </header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis modi animi doloribus voluptates blanditiis soluta in unde sit incidunt numquam dicta eligendi asperiores quas, architecto quisquam adipisci, velit ab sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quo cumque nulla, iusto, nemo magnam enim ullam atque dicta deleniti necessitatibus minima eos accusamus, culpa, suscipit optio voluptas nihil? Assumenda.
          </p>
        </li>
      </ul>
    </div>
  </div>

</div>
