<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div class="row">
    <% metric_names.each do |metric| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card card-metric">
          <h3 class="card-header"><%= metric[:name] %></h3>
          <div class="card-body">
            <div class="metric-content">
              <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="min-height: 150px;">
                  <div class='metric-graph' id='metric-<%= metric[:name].downcase.parameterize %>'  style='height:150px;'></div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="metric-value col-xs-12">
                    <%= random_value metric[:type] %>
                    <small>CURRENT</small>
                  </div>
                  <div class="metric-trend col-xs-12">
                    <% direction = increase_or_decrease %>
                    <p class="<%=increase_or_decrease_class direction %>">
                      <i class="fa <%=increase_or_decrease_chevron direction %>"></i> <%= random_percent %>
                    </p>
                    <small>30 Days Ago</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% content_for :javascript do %>
        <script>
            flotMetric('#metric-<%= metric[:name].downcase.parameterize %>', <%= random_trending_data(direction) %> );
        </script>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Activity</h3>
      </div>
      <div class="card-body">
        <div class='left-timeline metrics-timeline'>
          <ul class="list-unstyled small">
            <% types = [ { klass: 'refund', css_class: 'label-danger'},  { klass: 'purchase', css_class: 'label-success'}, { klass: 'cancellation', css_class: 'label-inverse'}] %>
            <% (1..10).each do |index|%>
              <li class="mb10">
                <% instance = types[Random.rand(types.length)] %>
                <time class='<%= instance[:css_class]%>'>
                  <strong>$<%=Random.rand(120) %></strong>
                </time>
                <header>
                  <strong>Internet Genie</strong><br/>
                  <small class="text-muted"><%=instance[:klass].upcase %> - <%=time_ago_in_words( DateTime.now-(index.minutes) ) %></small>
                </header>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
