.row
  .col-12
    .card.card-default.position-relative.inspectable
      / component-title: Active Users Table
      .card-header
        %h6 MOST ACTIVE USERS
      .table-responsive
        %table.table.table-hover.table-striped
          %thead
            %tr
              %th #
              %th Full Name
              %th Location
              %th Status
              %th Action
          %tbody
            %tr
              %td 1
              %td
                %strong Fred Berlin
              %td Vancouver, Canada
              %td
                %span.badge.badge-success Active
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
            %tr
              %td 2
              %td Octavius Belt
              %td London, United Kingdom
              %td
                %span.badge.badge-success Active
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
            %tr
              %td 3
              %td
                %strong Cash Money
              %td New York City, USA
              %td
                %span.badge.badge-success Active
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
            %tr
              %td 4
              %td
                %strong Bailey Bingface
              %td Liberia
              %td
                %span.badge.badge-success Active
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
            %tr
              %td 5
              %td
                %strong Altus Zombo
              %td Monrovia
              %td
                %span.badge.badge-danger Suspended
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
            %tr
              %td 6
              %td
                %strong Leslie Taket
              %td Dublin, Ireland
              %td
                %span.badge.badge-success Active
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
            %tr
              %td 7
              %td
                %strong Leslie Taket
              %td Dublin, Ireland
              %td
                %span.badge.badge-success Active
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
            %tr
              %td 8
              %td
                %strong Leslie Taket
              %td Dublin, Ireland
              %td
                %span.badge.badge-success Active
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
            %tr
              %td 9
              %td
                %strong Leslie Taket
              %td Dublin, Ireland
              %td
                %span.badge.badge-success Active
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
            %tr
              %td 10
              %td
                %strong Leslie Taket
              %td Dublin, Ireland
              %td
                %span.badge.badge-success Active
              %td
                .btn-group.btn-group-xs
                  %a.btn{"data-original-title" => "Delete", "data-toggle" => "tooltip"}= theme_icon_tag "trash"
                  %a.btn{"data-original-title" => "Edit", "data-toggle" => "tooltip"}
                    = theme_icon_tag "pencil-alt"
