<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">CSS Switches</h3>
    </div>
    <div class="panel-body">
      <label class="switch switch-default"><input type="checkbox"><span></span></label>
      <label class="switch switch-warning"><input type="checkbox" checked><span></span></label>
      <label class="switch switch-info"><input type="checkbox" checked><span></span></label>
      <label class="switch switch-danger"><input type="checkbox" checked><span></span></label>
      <label class="switch switch-success"><input type="checkbox" checked><span></span></label>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Custom File Input</h3>
    </div>
    <div class="panel-body">
      <span class="btn btn-default btn-file">
          Browse <input type="file">
      </span>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Custom Avatar File Input</h3>
    </div>
    <div class="panel-body">
      <div class="avatar-uploader">
        <div class="inner">
          <img src='http://fillmurray.com/200/200' class='thumbnail'/>
          <span class="icon-wrapper">
            <i class='fa fa-cloud-upload fa-fw'></i>
          </span>
          <input type="file" name="avatar">
        </div>
      </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Vertical Centering</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Margin and Padding Helper Classes</h3>
    </div>
    <div class="panel-body">
      <p>You have a range of classes to help you control padding and margins on elements. They start <code>p</code> for padding and <code>m</code> for margin:</p>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.p<%=inc%></code> (all side padding of <%=inc%> pixels.)</div>
        <% end %>
      </div>
      <hr>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.pt<%=inc%></code> (top side padding of <%=inc%> pixels.)</div>
        <% end %>
      </div>
      <hr>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.pb<%=inc%></code> (bottom side padding of <%=inc%> pixels.)</div>
        <% end %>
      </div>
      <hr>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.pl<%=inc%></code> (left side padding of <%=inc%> pixels.)</div>
        <% end %>
      </div>
      <hr>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.pr<%=inc%></code> (right side padding of <%=inc%> pixels.)</div>
        <% end %>
      </div>
      <hr>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.m<%=inc%></code> (all side margin of <%=inc%> pixels.)</div>
        <% end %>
      </div>
      <hr>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.mt<%=inc%></code> (top side margin of <%=inc%> pixels.)</div>
        <% end %>
      </div>
      <hr>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.mb<%=inc%></code> (bottom side margin of <%=inc%> pixels.)</div>
        <% end %>
      </div>
      <hr>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.ml<%=inc%></code> (left side margin of <%=inc%> pixels.)</div>
        <% end %>
      </div>
      <hr>
      <div class='row'>
        <% (0..55).step(5).each do |inc| %>
        <div class='col-sm-4'><code>.mr<%=inc%></code> (right side margin of <%=inc%> pixels.)</div>
        <% end %>
      </div>
    </div>
</div>