<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>iMac</strong></div>
      <div class="panel-body">
        <%= device_imac do %>
          <%= image_tag 'https://www.google.ca/images/srpr/logo11w.png' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Macbook Pro</strong></div>
      <div class="panel-body">
        <%= device_macbook %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>iPad</strong></div>
      <div class="panel-body">
        <%= device_ipad %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>iPhone </strong></div>
      <div class="panel-body">
        <%= device_iphone %>
      </div>
    </div>
  </div>
</div>