<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Devices</strong></div>
      <div class="panel-body">
        <%= device_imac do %>
          <%= image_tag 'https://www.google.ca/images/srpr/logo11w.png' %>
        <% end %>
        <%= device_macbook %>
        <%= device_ipad %>
        <%= device_iphone %>
      </div>
    </div>
  </div>
</div>