<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>iMac</strong></div>
      <div class="panel-body">
        <div style='font-size: 4px;'>
          <%= device_imac do %>
            <%= image_tag 'http://fillmurray.com/230/129' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Macbook Pro</strong></div>
      <div class="panel-body">
        <div style='font-size: 4px;'>
          <%= device_macbook do %>
            <%= image_tag 'http://fillmurray.com/169/106' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>iPad</strong></div>
      <div class="panel-body">
        <div style='font-size: 4px;'>
          <%= device_ipad do %>
            <%= image_tag 'http://fillmurray.com/192/256' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>iPhone </strong></div>
      <div class="panel-body">
        <div style='font-size: 4px;'>
          <%= device_iphone do %>
            <%= image_tag 'http://fillmurray.com/80/142' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>