<%= content_for :js_libs, "gmaps flot chartjs demo-dashboard" %>

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 animate-drop-fade">
    <div class="card card-mini  inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span><i class="h1 ti-world  "></i></span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">0</h4>
            <h6 class="m-0 text-muted">Page Hits</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span><i class="h1 ti-shopping-cart  "></i></span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0 counter" data-from="0" data-to="1231" data-speed="500" data-refresh-interval="80">0</h4>
            <h6 class="m-0 text-muted">Total Sales</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span><i class="h1 ti-money  "></i></span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0 cash-counter" data-from="0" data-to="151231" data-speed="500" data-refresh-interval="80">0</h4>
            <h6 class="m-0 text-muted">Total Revenue</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span><i class="h1 ti-user  "></i></span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0 counter" data-from="0" data-to="23312" data-speed="500" data-refresh-interval="50">0</h4>
            <h6 class="m-0 text-muted">Total Users</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card card-metric card-full-bleed">
      <div class="card-body">
        <canvas class='metric-graph metric-random-graph'></canvas>
        <div class="metric-header">
          <h6>New Subscribers</h6>
          <div class="metric-value">123</div>
        </div>
        <div class="metric-details">
          <span>
            <i class="fa fa-chevron-up text-success"></i>
            12% SINCE 30 Days Ago
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="card card-full-bleed card-metric">
      <div class="card-body">
        <canvas class='metric-graph metric-random-graph'></canvas>
        <div class="metric-header">
          <h6>Revenue</h6>
          <div class="metric-value">$123,231,678</div>
        </div>
        <div class="metric-details">
          <span>
            <i class="fa fa-chevron-down text-danger"></i>
            22% SINCE 30 Days Ago
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row is-flex">
  <div class="col-sm-12 col-md-9 animate-fade-in-1000">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h6 class="mr-auto">SALES VS REFUNDS LAST 7 DAYS</h6>

        <div class="d-flex">
          <div class="dropdown">
            <button class="nav-link btn btn-icon btn-neutral" type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="ti-more"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="salesAndRefundButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <canvas class="sales-vs-refunds"></canvas>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-3 animate-fade-in-1000">
    <div class="card card-grow d-flex">
      <div class="card-body overflow-y-scroll">
        <h6>SALES ACTIVITY</h6>
        <div class="timeline" style="height: 390px;">
          <ul class="left-timeline">
            <% types = [ { klass: 'refund', css_class: 'badge badge-danger'},  { klass: 'purchase', css_class: 'badge badge-success'}, { klass: 'cancellation', css_class: 'badge badge-light'}] %>
            <% (1..5).each do |index|%>
              <li class="timeline-item">
                <% instance = types[Random.rand(types.length)] %>
                <time class='<%= instance[:css_class]%>'>
                  <strong>$<%=Random.rand(120) %></strong>
                </time>
                <div class="activity-text">
                  <strong>Internet Genie</strong>
                  <small class="text-muted"><%=instance[:klass].upcase %> - <%=time_ago_in_words( DateTime.now-(index.minutes) ) %></small>
                </header>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row is-flex">
  <div class="col-sm-12 col-md-5 animate-fade-in-1000">
    <div class="card card-default">
      <div class="card-body">
        <h6>MASTER SERVER</h6>
        <div class='flot-realtime' style="height: 315px; width: 100%; display: block;"></div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="server-status-details clearfix">
              <h5 class="text-center">Memory Stats</h5>
              <div class="row stat-list text-center">
                <dl class="col-xs-6 col-sm-6 col-md-3">
                  <dt>In use</dt>
                  <dd>2.5 GB</dd>
                </dl>
                <dl class="col-xs-6 col-sm-6 col-md-3">
                  <dt>Total</dt>
                  <dd>4 GB</dd>
                </dl>
                <dl class="col-xs-6 col-sm-6 col-md-3">
                  <dt>Available</dt>
                  <dd>500 MB</dd>
                </dl>
                <dl class="col-xs-6 col-sm-6 col-md-3">
                  <dt>Swap</dt>
                  <dd>360 MB</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-7 animate-fade-in-1000">
    <div class="card card-default">
      <div class="card-header">
        <ul class="nav nav-tabs nav-tabs-xs">
          <li class="mr-auto d-flex align-items-center">
            <h6>RECENT ACTIVITY</h6>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#dashboard-recent-comments" data-toggle="tab">Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dashboard-recent-threads" data-toggle="tab">Forum threads</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade active show" style='height: 444px; overflow: scroll;' id='dashboard-recent-comments'>
          <ul class="list-group list-group-flush">
            <% (1..5).each do |index|%>
              <li class='list-group-item'>
                <div class="media">
                  <a class="d-flex mr-3" href="#">
                    <%= random_avatar 40, "rounded-circle" %>
                  </a>
                  <div class="media-body">
                    <strong><a href="#" title="">Fill Murray</a> commented on <a href="#" title="">Article Name</a></strong>
                    <p class='small'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae atque, dolore quo voluptatum sed voluptas incidunt aspernatur natus iste dolor neque porro quos illo quia iusto minima, nesciunt animi architecto.</p>
                    <ul class="nav small">
                      <li class="nav-item"><a href="#" class="mr-3 btn btn-circle btn-primary"><i class="fa fa-fw fa-pencil"></i>Edit</a></li>
                      <li class="nav-item"><a href="#" class="btn btn-circle btn-secondary"><i class="fa fa-fw fa-times"></i>Remove</a></li>
                      <li class="ml-auto">
                        <span class="text-muted"><%= index %> hour ago</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade" id="dashboard-recent-threads">
          <div style="overflow: scroll; width: auto; height: 444px;">
            <ul class="list-group list-group-flush">
              <% (1..10).each do |index|%>
                <li class="list-group-item">
                  <div class="media">
                    <a class="d-flex mr-3" href="#">
                      <%= random_avatar 40, "rounded-circle" %>
                    </a>
                    <div class="media-body">
                      <h6 class="media-header"><a href="#" title="">Lorem ipsum dolor sit amet</a></h6>
                      <div class="small d-flex">Started by <a href="#" title="">Fill Murray</a> in <a href="#" title="">Forum name</a><span class="ml-auto">3h ago</span>
                      </div>
                    </div>
                  </div>
                </li>
              <%end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-default">
      <div class="card-body">
        <h6>MOST ACTIVE USERS</h6>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Location</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td><td><strong>Fred Berlin</strong></td>
                <td>Vancouver, Canada</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td><td>Octavius Belt</td>
                <td>London, United Kingdom</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>3</td><td><strong>Cash Money</strong></td>
                <td>New York City, USA</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>4</td><td><strong>Bailey Bingface</strong></td>
                <td>Liberia</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>5</td><td><strong>Altus Zombo</strong></td>
                <td>Monrovia</td>
                <td><span class="label label-danger">Suspended</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>6</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>7</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>8</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>9</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>10</td><td><strong>Leslie Taket</strong></td>
                <td>Dublin, Ireland</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <div class="btn-group btn-group-xs">
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                    <a data-toggle="tooltip" class="btn btn-neutral" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-default">
      <div class="card-body">
        <h6>ONLINE USERS</h6>
        <div id="map_canvas_1"></div>
      </div>
    </div>
  </div>
</div>
