<article class='blog blog-post mb50'>
  <header class='text-center vertical-center mb50'>
    <div class='container'>
      <h1>A Night to Remember</h1>
      <h2 class='h4'>How we made $122,000 at Blackjack</h2>
    </div>
    <div class='bg cover' style="background-image: url(<%=asset_path(random_landscape_name) %>);"></div>
  </header>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-muted">
    <aside class='small text-center'>
      <em>By John McDowall</em>
      <p class='m0'>Published <time>14th May 2015</time></p>
      <hr class='nub' />
      <dl class='mt20'>
        <dt>Tags</dt>
        <dd>
          <ul class="list-unstyled">
            <li>Rails</li>
            <li>Site News</li>
            <li>Front-end</li>
          </ul>
        </dd>
      </dl>
    </aside>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <h4>How it all got started</h4>
    <p>Old Houses are products of accretion. Over the course of many years they gather new extensions, tweaked facades, upgraded central or under-floor heating systems, alarm systems, downstairs washrooms and nursereys. And usually, once one project is completled, you'll bask in the glow of it for a while until it's forgotten about and the next one embarked upon. Just like Software.</p>
    <h5>Cats in the laundry basket</h5>
    <p>The house I live in is big and old, over 80 years. It's been split up so that a couple live through the back portion, my wife and I live in the front half, and there's a basement apartment. Sound travels in funny ways in old houses. Sound travels in funny ways in old houses. </p>
    <%=random_landscape %>
    <h5>Rain always comes</h5>
    <p>You see there are the remenants of what were ducts for the purposes of a forced air central heating system, all through the house. The air vents are now sealed, but the ornamentation on the baseboard that gives away their purpose is still there. The ducts lie embedded within the walls still. Long forgotten about, these heating ducts were probably installed at great expense at the time, for what was felt to be the ultimate in home comfort: hot air blown into the rooms from a central heater!</p>
    <p>At some point, the old air heater was pulled out, radiators were found and installed, and a fancy Swedish boiler system now silently and efficiently pumps hot water around the piping and heats the house. And the ducts remain, in the walls. Now sealed up and silent. Except for when they carry sound in funny ways. Old houses are like that. </p>
    <p>Occasionally, we are treated to the sounds of someone somewhere else in the house enjoying vigorous, short lived coitus, the echoes of it carried inside the bones of the house, inside these long forgoten about ducts that serve no purpose. Should the ducts be ripped out? That would be very costly, and damaging to the house. So they stay. Silently embedded within the walls. </p>
    <div class='table-responsive'>
    <%= code_block do %>
      function decodeEscape(charsetPart) {
        var cc0 = charsetPart.charCodeAt(0);
        if (cc0 !== 92 /* \\ */) {
          return cc0;
        }
        var c1 = charsetPart.charAt(1);
        cc0 = escapeCharToCodeUnit[c1];
        if (cc0) {
          return cc0;
        } else if ('0' <= c1 && c1 <= '7') {
          return parseInt(charsetPart.substring(1), 8);
        } else if (c1 === 'u' || c1 === 'x') {
          return parseInt(charsetPart.substring(2), 16);
        } else {
          return charsetPart.charCodeAt(1);
        }
      }
    <% end %>
    </div>
    <p>Much like the infastructure portions of almost every software design that's ever been written. Look at your codebase. Is there something in there, some remnant of infrastructure that was built with the greatest of hopes and expectations, only to be roundly replaced when you understood the problem better?</p>
    <p>Removing that code might be too hard now, because nobody writes perfect software. Some brittle tests somewhere might flare up, or a method call somewhere might explode. </p>
    <p>And yet that code sits there, inside your digital walls.</p>
    <p>Software Design is like building houses. The construction continues long after the thing is 'finished', and you end up living with the choices you make for a long time, usually forever. </p>
    <p>And sometimes, in the night, you hear odd noises carried by those old ducts.</p>

    <section class="row post-footer">
      <div class="col-xs-12">
        <div class="media color-grey-50">
          <div class="pull-left">
            <%= random_avatar 40, 'media-object img-rounded' %>
          </div>
          <div class="media-body">
            <p class='m0 media-heading'>Published <time>14th May 2015</time></p>
            <a href="#">by John McDowall</a> in <a href="#">Rails, Front-end, Magic</a>
            <span class="social pull-right">
              <p class='m0 text-muted small'>
                Share this article
              </p>
              <div class="social-links">
                <a class="social-icon" href="#" data-platform="twitter" data-message="Message about this post" data-url="http://writertheme.com/post"><i class="fa fa-twitter"></i></a>
                <a class="social-icon" href="#" data-platform="facebook" data-message="Message about this post" data-url="http://writertheme.com/post"><i class="fa fa-facebook-official"></i></a>
                <a class="social-icon" data-platform="mail" href="mailto:test@example.com"><i class="fa fa-envelope"></i></a>
              </div>
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class='comments row'>
      <div class="col-xs-12">
        <hr>
        <h3>4 Comments</h3>
        <div class="media">
          <a class="pull-left avatar" href="#">
            <%= random_avatar 40, 'media-object img-rounded' %>
          </a>
          <div class="media-body">
            <h5 class="media-heading"><a href="">Momoko Price</a><time>5h ago</time></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis maiores aliquam natus, voluptatum id ut nulla quo ullam dolore exercitationem! Itaque iste facilis consequatur doloremque et, dolore sed dolorem in.</p>
            <a href="#">Reply</a>
            <div class="media">
              <a class="pull-left avatar" href="#">
                <%= random_avatar 40, 'media-object img-rounded' %>
              </a>
              <div class="media-body">
                <h5 class="media-heading"><a href="">John McDowall</a><time>17h ago</time></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#">Reply</a>
              </div>
            </div>
            <div class="media">
              <a class="pull-left avatar" href="#">
               <%= random_avatar 40, 'media-object img-rounded' %>
             </a>
             <div class="media-body">
              <h5 class="media-heading"><a href="">Momoko Price</a><time>2d ago</time></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dicta, omnis excepturi voluptatum consequuntur pariatur quidem rem ducimus error! Id rerum quod perferendis repellendus pariatur beatae aliquid, architecto, numquam et.</p>
              <a href="#">Reply</a>
            </div>
          </div>
        </div>
        <div class="media">
          <a class="pull-left avatar" href="#">
            <%= random_avatar 40, 'media-object img-rounded' %>
          </a>
          <div class="media-body">
            <h5 class="media-heading"><a href="">John McDowall</a><time>3d ago</time></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="#">Reply</a>
          </div>
        </div>
      </div>

      <div class="well  mt50 mb50">
        <form action="#" method="post" novalidate="" class="form">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" style="visibility: visible;">
              <div class="form-group">
                <label class="control-label" for="contact-message">Join the discussion</label>
                <div class="controls">
                  <textarea name="comments" placeholder="Please be civil." class="form-control requiredField" rows="3" data-error-empty="Please enter comment"></textarea>
                  <span class="help-block text-muted">* required</span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                      <input name="contactName" placeholder="Name" class="form-control requiredField " type="text" data-error-empty="Please enter name">
                      <span class="help-block text-muted">* required</span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="contact-mail">Email</label>
                    <div class="controls">
                      <input name="email" placeholder="Email" class="form-control requiredField" type="email" data-error-empty="Please enter email" data-error-invalid="Invalid email address">
                      <span class="help-block text-muted">* required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">
                    <button name="submit" type="submit" class="form-control btn btn-primary btn-flat" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Comment Sent">Send Comment</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</article>
<footer class="container-fluid">
  <div class="row">
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h5>Read These Next</h5>
    </header>
  </div>
  <div class="row">
    <a href="#">
      <div class="col-sm-6 col-md-2 p0 m0 suggested-article">
        <div class="overlay"></div>
        <%= random_landscape %>
        <h3>Announcing our new feature</h3>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-6 col-md-2 p0 m0 suggested-article">
        <div class="overlay"></div>
        <%= random_landscape %>
        <h3>Invite a friend get 10% off</h3>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-6 col-md-2 p0 m0 suggested-article">
        <div class="overlay"></div>
        <%= random_landscape %>
        <h3>Guest Accounts</h3>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-6 col-md-2 p0 m0 suggested-article">
        <div class="overlay"></div>
        <%= random_landscape %>
        <h3>Using Bootstrap for great Victory</h3>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-6 col-md-2 p0 m0 suggested-article">
        <div class="overlay"></div>
        <%= random_landscape %>
        <h3>Cats in the heating vents</h3>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-6 col-md-2 p0 m0 suggested-article">
        <div class="overlay"></div>
        <%= random_landscape %>
        <h3>$10,000 in 24hrs</h3>
      </div>
    </a>
  </div>
</footer>